/*
Name:Raleway Mega Bootstrap Template
Version:2.3
Author:Denis Samardjiev
*/

/* =Table of Contents
--------------------------------------------------------------
	=Common Styles
	=Typography
	=Buttons
	=Alerts
	=Icon Fonts
	=Navigation
	=Sidebar Navigation
	=Forms
	=Zoom Fade
	=Carousel
	=Quote Carousel
	=Team Carousel
	=Owl Carousel
	=Heading
	=Header 1 + 2
	=Header Parallax
	=Panels
	=Tabs
	=Pricing Tables
	=Call to Action
	=Accordion
	=Content Section
	=Parallax Content
	=Timeline
	=Thumbnails
	=Shadows
	=Dividers
	=Modals
	=Labels and Badges
	=Progress Bars
	=Content Sections
	=Team
	=Recent Posts
	=Clients
	=404 / Map
	=Top Bar
	=Portfolio
	=Comments
	=Cart
	=Blog
	=Shop
	=Portfolio
	=Footer
	=Media Queries
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700%7CRaleway:200,300,400,700');

/* =Common Styles
-------------------------------------------------------------- */
body {
	background:#fff;
	font:normal 14px 'Open Sans', sans-serif;
	font-weight:300;
	color:#616161;
	height:100%;
	line-height:1.6;
	min-height:100% !important;
}

html {
	min-height:100% !important;
}

::selection {
	background:#00B7EB; /* WebKit/Blink Browsers */
	color:#fff;
	box-shadow:0;
}

::-moz-selection {
	background:#00B7EB; /* Gecko Browsers */
	color:#fff;
	box-shadow:0;
}

pre[class*="htmlCodeCollapse"] {
    border-radius:$border-radius;
    margin:0 0 1.336em 0;
    padding:.3em 1em 1em 1em;
    font-size:1.125em;
    @include breakpoint(b2) {
        font-size:.806em;
    }
}

.blue-css-square { height:20px; width:20px; background-color:#3498db;margin-top:3px; }
.green-css-square { height:20px; width:20px; background-color:#2ecc71;margin-top:3px; }
.purple-css-square { height:20px; width:20px; background-color:#9b59b6;margin-top:3px; }
.dark-blue-css-square { height:20px; width:20px; background-color:#34495e;margin-top:3px; }
.red-css-square { height:20px; width:20px; background-color:#FF3B30;margin-top:3px; }
.teal-css-square { height:20px; width:20px; background-color:#1abc9c;margin-top:3px; }
.orange-css-square { height:20px; width:20px; background-color:#00B7EB;margin-top:3px; }
.silver-css-square { height:20px; width:20px; background-color:#BDC3C7;margin-top:3px; }
.seagul-css-square { height:20px; width:20px; background-color:#65C6BB;margin-top:3px; }
.pinkish-css-square { height:20px; width:20px; background-color:#F64747;margin-top:3px; }

a { color:#00B7EB; cursor:pointer; }
a:hover { color:#00B7EB; text-decoration:underline; cursor:pointer; }
.link-white a { color:#fff; }
.link-white a:hover { color:#fafafa; text-decoration:none; }

.center-vertically { display:table-cell; text-align:center; vertical-align:middle; }
.center-vertically-left { display:table-cell; text-align:left; vertical-align:middle; }
.center-vertically-right { display:table-cell; text-align:right; vertical-align:middle; }
.border-bottom-none { border-bottom:0 !important; }
.border-top-white { border-top:2px solid #fff; }
.border-top { border-top:1px dotted #d2d2d2; }
.border-bottom { border-bottom:1px dotted #d2d2d2; }
.border { border:1px solid #E6E6E6; }
.border-white { border:1px solid #fff !important;}
.no-border { border:0 !important;}
.no-padding { padding:0 !important; }
.no-margin { margin:0 !important; }
.no-border-radius { border-radius:0 !important; }
.br-50 { border-radius:50% !important; }
.br-2 { border-radius:2px !important; }
.full-width { width:100%; }

.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt30 { padding-top:30px !important; }
.pt40 { padding-top:40px !important; }
.pt50 { padding-top:50px !important; }
.pt60 { padding-top:60px !important; }
.pt80 { padding-top:80px !important; }
.pt100 { padding-top:100px !important; }
.pb10 { padding-bottom:10px !important; }
.pb15 { padding-bottom:15px !important; }
.pb20 { padding-bottom:20px !important; }
.pb30 { padding-bottom:30px !important; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px !important; }
.pb60 { padding-bottom:60px !important; }
.pb100 { padding-bottom:100px !important; }

.mt0 { margin-top:0; }
.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt30 { margin-top:30px !important; }
.mt40 { margin-top:40px !important; }
.mt50 { margin-top:50px !important; }
.mt100 { margin-top:100px !important; }
.mb0 { margin-bottom:0; }
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb100 { margin-bottom:100px !important; }

.mg5 { margin:5px !important; }
.p15 { padding:15px !important; }
.ml15 { margin-left:15px !important; }
.ml10 { margin-left:10px !important; }
.ml5 { margin-left:5px !important; }
.mr5 { margin-right:5px !important; }
.mr15 { margin-right:15px !important; }
.mr10 { margin-right:10px !important; }
.ml20 { margin-left:20px !important; }
.mr20 { margin-right:20px !important; }

.background-light-grey { background-color:#fafafa !important; }
.background-white { background-color:#fff !important; }
.background-main { background-color:#000 !important; }
.background-mainsub { background-color:#00B7EB; }
.color-main { color:#00B7EB; }
.success-rw {
	background-color:#2ecc71;
}

section {
	overflow:hidden;
}

/* =Typography
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	color:#5F5F5F;
	font-family:'Raleway', sans-serif;
	font-weight:400;
	margin:0 0 14px;
}

h1 {
	font-weight:700;
	text-transform:uppercase;
}

h2 {
	font-weight:700;
	text-transform:uppercase;
}
h3 {
	font-size:24px;
	font-weight:300;
}

.text-muted { color:#d1d1d1; font-weight:400; }
.text-success{ font-weight:400; }
.text-info { font-weight:400; }
.text-primary { font-weight:400; color:#00B7EB; }
.text-warning { font-weight:400; }
.text-danger { font-weight:400; }

.no-lineheight { line-height:0 !important; }
.heavy { font-weight:600 !important; }
.text-white { color:#fff !important; }
.text-main { color:#00B7EB !important; }
.text-dark { color:#272727 !important; }
.text-light-grey { color:#CBCBCB; }

blockquote:before {
	content:'\f10d';
	font-family:FontAwesome;
	margin-right:0.5em;
	margin-right:20px;
	float:left;
	font-size:21px;
	margin-top:-5px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
	font-weight:300;
	font-family:'Open Sans';
	padding-left:10px;
}

mark {
	background:#00B7EB;
	color:#fff;
	padding:1px 4px 2px 4px;
}

ul.list-arrow { list-style-type:none; }
ul.list-arrow li { text-indent:-1.3em; }
ul.list-arrow li:before {
	font-family:FontAwesome;
    content:"\f0da";
    float:left;
    width:1.3em;
}

ul.list-arrow-color { list-style-type:none; }
ul.list-arrow-color li { text-indent:-1.3em; }
ul.list-arrow-color li:before {
	font-family:FontAwesome;
    content:"\f0da";
    float:left;
    color:#00B7EB;
    width:1.3em;
}

ul.list-arrow-2 { list-style-type:none; }
ul.list-arrow-2 li { text-indent:-1.6em; }
ul.list-arrow-2 li:before {
	font-family:FontAwesome;
    content:"\f0a9";
    float:left;
    width:1.6em;
}

ul.list-arrow-2-color { list-style-type:none; }
ul.list-arrow-2-color li { text-indent:-1.6em; }
ul.list-arrow-2-color li:before {
	font-family:FontAwesome;
    content:"\f0a9";
    float:left;
    color:#00B7EB;
    width:1.6em;
}

.popover { border-radius:2px; }

.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color:#00B7EB;
	border-color:#00B7EB;
}

.pagination>li>a, .pagination>li>span {
	padding:8px 14px;
	color:#00B7EB;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color:#fff;
	background-color:#00B7EB;
	border-color:#27AED4;
}

.pagination>li>a, .pagination>li>span { border-radius:50% !important;margin:0 5px;}

/* =Buttons
-------------------------------------------------------------- */
.btn-rw {
	border-radius:2px;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	border:0;
}

.btn {
	border-radius:2px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline:none;
}

.btn-rw.btn-default {
	color:#fff;
	background-color:#272727;
	-webkit-box-shadow:0px 2px 0px rgba(56, 56, 56, 0.9);
	-moz-box-shadow:0px 2px 0px rgba(56, 56, 56, 0.9);
	box-shadow:0px 2px 0px rgba(56, 56, 56, 0.9);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.btn-rw.btn-default:hover, .btn-rw.btn-default:focus {
	background-color:#444444;
	-webkit-box-shadow:0px 2px 0px #444444;
	-moz-box-shadow:0px 2px 0px #444444;
	box-shadow:0px 2px 0px #444444;
}

.btn-rw.btn-default-inverted {
	color:#272727;
	background-color:#fff;
	-webkit-box-shadow:0px 2px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(255, 255, 255, 0.5);
	box-shadow:0px 2px 0px rgba(255, 255, 255, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.btn-rw.btn-default-inverted:hover, .btn-rw.btn-default-inverted:focus {
	background-color:#fff;
	color:#323232;
	-webkit-box-shadow:0px 2px 0px #fff;
	-moz-box-shadow:0px 2px 0px #fff;
	box-shadow:0px 2px 0px #fff;
}

.btn-rw.btn-primary {
	color:#fff;
	background-color:#00B7EB;
	-webkit-box-shadow:0px 2px 0px #0087AD;
	-moz-box-shadow:0px 2px 0px #0087AD;
	box-shadow:0px 2px 0px #0087AD;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.btn-rw.btn-primary:hover, .btn-rw.btn-primary:focus {
	background-color:#0AA2CE;
	-webkit-box-shadow:0px 2px 0px #0AA2CE;
	-moz-box-shadow:0px 2px 0px #0AA2CE;
	box-shadow:0px 2px 0px #0AA2CE;
}

.btn-rw.btn-info {
	color:#fff;
	background-color:#5bc0de;
	-webkit-box-shadow:0px 2px 0px rgba(91, 192, 222, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(91, 192, 222, 0.5);
	box-shadow:0px 2px 0px rgba(91, 192, 222, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.btn-rw.btn-info:hover, .btn-rw.btn-info:focus {
	background-color:#76daf7;
	-webkit-box-shadow:0px 2px 0px #76daf7;
	-moz-box-shadow:0px 2px 0px #76daf7;
	box-shadow:0px 2px 0px #76daf7;
}

.btn-rw.btn-danger {
	color:#fff;
	background-color:#d9534f;
	-webkit-box-shadow:0px 2px 0px rgba(217, 83, 79, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(217, 83, 79, 0.5);
	box-shadow:0px 2px 0px rgba(217, 83, 79, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.btn-rw.btn-danger:hover, .btn-rw.btn-danger:focus {
	background-color:#ef716e;
	-webkit-box-shadow:0px 2px 0px #ef716e;
	-moz-box-shadow:0px 2px 0px #ef716e;
	box-shadow:0px 2px 0px #ef716e;
}

.btn-rw.btn-warning {
	color:#fff;
	background-color:#f0ad4e;
	-webkit-box-shadow:0px 2px 0px rgba(240, 173, 78, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(240, 173, 78, 0.5);
	box-shadow:0px 2px 0px rgba(240, 173, 78, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.btn-rw.btn-warning:hover, .btn-rw.btn-warning:focus {
	background-color:#ffc067;
	-webkit-box-shadow:0px 2px 0px #ffc067;
	-moz-box-shadow:0px 2px 0px #ffc067;
	box-shadow:0px 2px 0px #ffc067;
}

.btn-rw.btn-success {
	color:#fff;
	background-color:#5cb85c;
	-webkit-box-shadow:0px 2px 0px rgba(92, 184, 92, 0.5);
	-moz-box-shadow:0px 2px 0px rgba(92, 184, 92, 0.5);
	box-shadow:0px 2px 0px rgba(92, 184, 92, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.btn-rw.btn-success:hover, .btn-rw.btn-success:focus {
	background-color:#72cc72;
	-webkit-box-shadow:0px 2px 0px #72cc72;
	-moz-box-shadow:0px 2px 0px #72cc72;
	box-shadow:0px 2px 0px #72cc72;
}

.btn-rw.btn-royal {
	background-color:#d3d3d3;
	color:#fff;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.btn-rw.btn-royal:hover, .btn-rw.btn-royal:focus {
	background-color:#c3c3c3;
}

.btn-rw.btn-clear {
	background-color:transparent;
	color:#fff;
	border:2px solid #fff;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.btn-rw.btn-clear:hover, .btn-rw.btn-clear:focus {
	background-color:rgba(255, 255, 255, 0.33);
}

.btn-rw.btn-bordered {
    color:#313131;
    background-color:transparent;
    -moz-box-shadow:0px 2px 0px #0087AD;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
    border:1px solid #ccc;
}

.btn-rw.btn-bordered:hover, .btn-rw.btn-bordered:focus {
	background-color:#00B7EB;
	border-color:#00B7EB;
	color:#fff;
}

.btn-social-icon { border-radius:2px; }
.btn-social { border-radius:2px; }

.btn-social-icon :first-child { color:#fff; }
.btn-social :first-child { color:#fff; }
.btn-social { color:#fff !important; }

.btn-lg {
	padding:10px 19px;
	font-size:18px;
}

.dropdown-menu {
    border:none;
    border-radius:0;
}

.btn-rw.btn-default:hover, .btn-rw.btn-default:focus { color:#fff; }

/* =Alerts
-------------------------------------------------------------- */
.alert {
	font-weight:400;
	border-radius:2px;
}

.alert-success-rw {
	background-color:#2ecc71;
	color:#fff;
	border-left:6px solid #19aa56;
	border-top:0;
	border-bottom:0;
	border-right:0;
}

.alert-info-rw {
	background-color:#3498db;
	color:#fff;
	border-left:6px solid #237db9;
	border-top:0;
	border-bottom:0;
	border-right:0;
}

.alert-warning-rw {
	background-color:#f39c12;
	color:#fff;
	border-left:6px solid #da8a0c;
	border-top:0;
	border-bottom:0;
	border-right:0;
}

.alert-danger-rw {
	background-color:#e74c3c;
	color:#fff;
	border:0;
	border-left:6px solid #cc3b2c;
	border-top:0;
	border-bottom:0;
	border-right:0;
}

.alert-clear {
	border-color:#d2d2d2;
}

.close {
	opacity:.4;
}

.alert-success-rw .close:hover, .close:focus { color:#fff; opacity:1; }
.alert-info-rw .close:hover, .close:focus { color:#fff; opacity:1; }
.alert-warning-rw .close:hover, .close:focus { color:#fff; opacity:1; }
.alert-danger-rw .close:hover, .close:focus { color:#fff; opacity:1; }
.alert-success-rw .alert-link { color:#fff; text-decoration:underline; }
.alert-info-rw .alert-link { color:#fff; text-decoration:underline; }
.alert-warning-rw .alert-link { color:#fff; text-decoration:underline; }
.alert-danger-rw .alert-link { color:#fff; text-decoration:underline; }

/* =Icon Fonts
-------------------------------------------------------------- */
.bordered-icon-lg {
	border-radius:0;
	font-size:34px !important;
	border:1px solid #D2D2D2;
	border-radius:50%;
	color:#00B7EB;
	background-color:transparent;
	padding-top:28px;
	height:90px;
	text-align:center;
	width:90px;
}

.bordered-icon-lg:hover, .bordered-icon-lg:focus {
	background-color:#00B7EB;
	border-color:transparent;
	color:#fff;
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-o-transition:color 0.5s ease;
	transition:color 0.5s ease;
}

.bordered-icon-sm {
	border-radius:0;
	border:1px solid #D2D2D2;
	border-radius:50%;
	color:#00B7EB;
	background-color:transparent;
	text-align:center;
	font-size:21px !important;
	padding-top:20px;
	height:60px;
	width:60px;
}

.bordered-icon-sm:hover, .bordered-icon-sm:focus {
	background-color:#00B7EB;
	border-color:transparent;
	color:#fff;
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-o-transition:color 0.5s ease;
	transition:color 0.5s ease;
}

.bordered-icon-xs {
	border-radius:0;
	border:1px solid #D2D2D2;
	border-radius:50%;
	color:#00B7EB;
	background-color:transparent;
	text-align:center;
	font-size:13px;
	padding-top:8px;
	height:30px;
	width:30px;
}

.bordered-icon-xs:hover, .bordered-icon-xs:focus {
	background-color:#00B7EB;
	border-color:transparent;
	color:#fff;
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-o-transition:color 0.5s ease;
	transition:color 0.5s ease;
}

.bordered-icon-static-lg {
	border-radius:0;
	font-size:34px !important;
	border:1px solid #D2D2D2;
	border-radius:50%;
	color:#00B7EB;
	background-color:transparent;
	padding-top:28px;
	height:90px;
	text-align:center;
	width:90px;
}

.bordered-icon-static-sm {
	border-radius:0;
	border:1px solid #D2D2D2;
	border-radius:50%;
	color:#00B7EB;
	background-color:transparent;
	text-align:center;
	font-size:21px;
	padding-top:20px;
	height:60px;
	width:60px;
}

.bordered-icon-static-xs {
	border-radius:0;
	border:1px solid #D2D2D2;
	border-radius:50%;
	color:#00B7EB;
	background-color:transparent;
	text-align:center;
	font-size:13px;
	padding-top:8px;
	height:30px;
	width:30px;
}

.bordered-icon-color {
	background-color:#00B7EB;
	color:#fff !important;
	border:1px solid transparent;
}

.bordered-icon-color:hover, .bordered-icon-color:focus {
	border:1px solid #D2D2D2;
	color:#00B7EB;
}

.bordered-icon-dark {
	background-color:transparent;
	color:#4d4d4d;
	border:1px solid #4d4d4d;
}

.bordered-icon-dark:hover, .bordered-icon-dark:focus {
	border:1px solid transparent;
	background-color:#00B7EB;
	-webkit-transition:color 0.1s ease;
	-moz-transition:color 0.1s ease;
	-o-transition:color 0.1s ease;
	transition:color 0.1s ease;
}

.bs-glyphicons li:hover {
	color:#fff;
	background-color:#00B7EB;
}

.bs-glyphicons li {
	float:left;
	width:12.5%;
	height:115px;
	padding:10px;
	font-size:10px;
	line-height:1.4;
	text-align:center;
	background-color:#f9f9f9;
	border:1px solid #fff;
}
.bs-glyphicons-list {
	padding-left:0;
	list-style:none;
}
.bs-glyphicons .glyphicon {
	margin-top:5px;
	margin-bottom:10px;
	font-size:24px;
}
.bs-glyphicons .glyphicon-class {
	display:block;
	text-align:center;
	word-wrap:break-word;
}

/* =Navigation
-------------------------------------------------------------- */
.navbar {
	border-radius:0;
	border:0;
	font-family:'Raleway', sans-serif;
	font-size:16px;
	font-weight:400;
	margin:0; 
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1), inset 0 0 2px rgba(255,255,255,.21);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,.1), inset 0 0 2px rgba(255,255,255,.21);
    box-shadow:0 1px 2px rgba(0,0,0,.1), inset 0 0 2px rgba(255,255,255,.21);
	z-index:9;
}

.navbar.navbar-main {
	background-color:rgba(255, 255, 255, 0.97);
}

.navbar-brand { 
	height:80px;
	padding:25px 0 25px 15px;
	letter-spacing:0;
	font-weight:900;
	color:#00B7EB;
	text-transform:uppercase;
	font-family:'Raleway', sans-serif;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
}

.navbar.navbar-main>.container .navbar-brand-centered, .navbar.navbar-main>.container-fluid .navbar-brand-centered {
    margin-left: -100px;
}

.css-logo { float:left; margin-right:8px; height:19px; width:19px; border-radius:19px; background-color:#00B7EB;margin-top:5px; }

.raleway-logo {
	width:115px;
	height:30px;
	float:right;
}

.navbar-brand:hover {
	opacity:0.7;
}

.navbar-toggle .icon-bar {
	background-color:#8F8F8F;
	height:1px;
}

.navbar-toggle:hover .icon-bar {
	background-color:#fff;
}

.navbar-toggle {
	border:1px solid #8F8F8F;
	border-radius:2px;
	margin-top:25px;
}

.navbar-toggle:hover {
	border:1px solid #00B7EB;
	background-color:#00B7EB;
	-webkit-transition:color 0.3s ease;
	-moz-transition:color 0.3s ease;
	-o-transition:color 0.3s ease;
	transition:color 0.3s ease;
}

.navbar.navbar-main ul.nav a { 
	color:#8F8F8F;
	background:transparent;
}

.navbar.navbar-main ul.nav li:hover > a { 
	color:#00B7EB;
	background-color:transparent;
	-webkit-transition:color 0.1s ease;
	-moz-transition:color 0.1s ease;
	-o-transition:color 0.1s ease;
	transition:color 0.1s ease;
}

.navbar.navbar-main .nav li.active a {
    color:#fff;
	background-color:#00B7EB;
}

.navbar.navbar-main .navbar-nav li a {
    padding-top:30px;
    padding-bottom:30px;
}

.navbar.navbar-main .dropdown-menu > li > a {
    line-height:2.66 !important;
    border-bottom:1px solid #f0f0f0;
    padding:2px 20px 2px 14px;
}

.dropdown-arrow {
	font-size:10px;
	padding-left:7px;
	color:#ccc;
}

.navbar.navbar-main .navbar-nav .open .dropdown-menu>li>a,.navbar .navbar-nav .open .dropdown-menu {
	color:#8F8F8F;
	outline:none;
	z-index:5;
}

.navbar.navbar-main .navbar-nav .open .dropdown-menu>li:hover > a {
	background-color:transparent;
	color:#00B7EB;
}

.navbar .dropdown-menu {
	border-top:1px solid #00B7EB;
	border-bottom:2px solid #00B7EB;
	border-radius:0;
	box-shadow:none;
	font-size:13px;
	min-width:210px;
	box-shadow:0px 2px 8px rgba(0, 0, 0, 0.16);
	border-left:0;
	border-right:0;
	margin-bottom:0 !important;
	padding:0;
}

.navbar.navbar-main .dropdown-menu > li:last-child > a {
	border-bottom:0;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:3px 0 3px 3px;
    border-left-color:#ccc;
    margin-top:14px;
    margin-right:-10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#00B7EB;
}

.dropdown-submenu.pull-left {
    float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.submenu-arrow {  padding-top:10px; }

.trigger { cursor:pointer; }

.dropdown-form {
	min-width:250px;
}

.navbar.navbar-main .btn-primary { margin-top:-1px; }

.mfp-fade.mfp-bg {
	opacity:0;
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	transition:all .4s ease-out;
}

.search-input { height:2.41em !important }
.search-btn { padding:6px 12px; }
.nav-circle-li {
    margin-top:17px;
    border-radius:50%;
    width:44px;
    height:44px;
    background-color:#F7F7F7 !important;
    box-shadow:0px 2px 0px 0px rgba(0,0,0,0.1);
    line-height:45px !important;
    padding:0 14px !important;
}
.nav-circle-li:hover {
    background-color:#00B7EB !important;
    color:#fff !important;
}

.dropdown-menu-user { 
	margin-top:19px !important;
	z-index:4 !important;
}

.mega-dropdown { position:static !important; }

.mega-dropdown-menu {
    padding:16px 10px !important;
    width:100%;
}

.mega-dropdown-menu > li > ul {
	padding:0;
	margin:0;
}
.mega-dropdown-menu > li > ul > li {
	list-style:none;
}
.mega-dropdown-menu > li > ul > li > a {
	display:block;
	color:#222;
	padding:5px 0 !important;
	border-bottom:1px solid #f0f0f0;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
	text-decoration:none;
	background-color:transparent !important;
}

.mega-dropdown-menu .dropdown-header {
	font-size:12px;
    color:#00B7EB;
    padding:0 0 5px 0 !important;
    line-height:24px;
    text-transform:uppercase;
    font-family:'Raleway';
    font-weight:700;
    border-bottom:1px solid #f0f0f0;
}

.mega-dropdown-arrow { 
	color:#DEDEDE;
    padding-right:3px;
}

.nav-pills.nav-stacked>li>a {
    padding:2px 0;
    color:#777;
}

.nav-pills>li>a {
    border-radius:0;
    padding:7px 10px;
    border:1px solid transparent;
    color:#999;
    font-size:13px;
    text-transform:uppercase;
    font-weight:500;
}

.nav-pills.nav-stacked > li.active > a, .nav-pills.nav-stacked > li.active > a:hover, .nav-pills.nav-stacked > li.active > a:focus, .nav-pills.nav-stacked > li > a:hover, .nav-pills.nav-stacked > li > a:focus {
    color:#00B7EB;
    background-color:transparent;
    border-color:transparent;
}

.nav-pills.nav-stacked:not(.list-style-icons)>li>a:after, .process .nav-pills>li+li:after {
    font-family:FontAwesome;
    content:"\f0da";
    top:6px;
}

.nav-pills.nav-stacked:not(.list-style-icons)>li>a:after {
    font-size:12px;
    position:absolute;
    right:15px;
    color:#d1d1d1;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}

.nav-pills.nav-stacked:not(.list-style-icons)>li.active>a:focus:after, .nav-pills.nav-stacked:not(.list-style-icons)>li.active>a:hover:after, .nav-pills.nav-stacked:not(.list-style-icons)>li>a:focus:after, .nav-pills.nav-stacked:not(.list-style-icons)>li>a:hover:after {
    color:#00B7EB;
    right:10px;
}

.nav-stacked { display:block !important; }

#fixed-navbar.affix {
    position:fixed;
    top:0;
    width:100%
}

.navbar-wrapper {  
    height:80px;
    width:100%;
    margin:0;
}

.screen-img {
    padding-right: 20px;
    padding-left: 20px;
}

/* =Dark Default Navigation
-------------------------------------------------------------- */
.navbar.navbar-dark {
    background-color:rgba(35, 35, 35, 0.97);
}

.navbar.navbar-dark .dropdown-menu > li > a {
    border-bottom:1px solid #353535;
}
.navbar.navbar-dark .dropdown-menu {
    background-color:#3C3C3C;
}

.navbar.navbar-dark .dropdown-submenu>a:after {
    border-left-color:#313131;
}

.navbar.navbar-dark .dropdown-arrow {
    color: #505050;
}

.navbar.navbar-dark .mega-dropdown-menu > li > ul > li > a {
    border-bottom: 1px solid #353535;
}

.navbar.navbar-dark .mega-dropdown-arrow {
    color: #2B2B2B;
}

.navbar.navbar-dark .mega-dropdown-menu .dropdown-header {
    border-bottom: 1px solid #353535;
}

.navbar.navbar-dark .nav-circle-li {
    background-color: #3C3C3C !important;
}

.table.table-dark>tbody>tr>td, .table.table-dark>tbody>tr>th, .table.table-dark>tfoot>tr>td, .table.table-dark>tfoot>tr>th, .table.table-dark>thead>tr>td, .table.table-dark>thead>tr>th {
    border-top: 1px solid #484848;
}

.table.table-dark>thead>tr>th {
    background-color: #3A3A3A;
}

.table.table-dark>thead>tr>th {
    border-bottom: 2px solid #444;
}

.top-bar.top-bar-dark {
    background-color: #272727;
    border-bottom:none;
    color: #9C9C9C;
}

/* =Sidebar Navigation
-------------------------------------------------------------- */
ul.sidebar-nav>li>span.badge {
	margin-top:12px;
	margin-right:6px;
}

.list-group-item:first-child,
.list-group-item:last-child,
ul.sidebar-nav {
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
			border-radius:2px;
}

.sidebar-nav .list-group-item:first-child {
	padding:25px;
}

.sidebar-nav-normal-1stchild .list-group-item:first-child {
	padding:0 !important;
}

ul.sidebar-nav li {
	list-style:none;
}

ul.sidebar-nav ul {
	margin:0;
	padding:0;
	background-color:#fafafa;
}

ul.sidebar-nav ul li {
	padding:0 15px;
	border-bottom:#d2d2d2 1px solid;
}

ul.sidebar-nav ul li:last-child {
	border-bottom:0;
}

ul.sidebar-nav a {
	display:block;
	text-decoration:none;
	color:#8F8F8F;
}

ul.sidebar-nav a i.fa {
	width:15px;
}

ul.sidebar-nav ul li a {
	padding:3px;
	font-size:12px;
	color:#979797;
}

ul.sidebar-nav>li {
	padding:0;
}

ul.sidebar-nav>li>a {
	padding:7px 12px;
}

ul.sidebar-nav>li.list-group-item.active {
	border:#ddd 1px solid;
	background-color:transparent;
}

ul.sidebar-nav>li.active>a {
	background-color:#00B7EB;
}


ul.sidebar-nav ul li a:hover,
ul.sidebar-nav ul li.active>a {
	background-color:transparent !important;
	color:#00B7EB !important;
}

ul.sidebar-nav > li.active>a {
	color:#fff !important;
}

.list-group-item {
	background :transparent;
	font-size:12px;
	border:1px solid #ddd;
}

ul.sidebar-nav a:hover, ul.sidebar-nav ul li.active>a {
	background-color:#00B7EB;
	color:#fff;
}

ul.sidebar-nav li.list-toggle:after {
	content:"\f10a";
	font-family:Ionicons;
	position:absolute;
	font-size:8px;
	right:15px;
	top:12px;
	color:#ccc;
}

ul.sidebar-nav li.list-toggle.active:after {
	content:"\f104";
	color:#fff;
}

ul.sidebar-nav li.list-toggle:hover:after {
	color:#fff;
}

/* =Forms
-------------------------------------------------------------- */
.form-control:focus { border-color:#bababa; outline:0; -webkit-box-shadow:none; box-shadow:none; }

input[type=checkbox] {
	margin:6px 0 0;
}

.input-group-addon {
	border-radius:0;
}

.form-control {
	border-radius:0;
	border:1px solid #ccc;
	height:42px;
	display:inline-block;
	-webkit-box-shadow:inset 0 2px 1px rgba(0,0,0,.07);
	box-shadow:inset 0 2px 1px rgba(0,0,0,.07);
}

.checkout-form-border { border-left:3px solid #ccc; }

/* =Zoom Fade
-------------------------------------------------------------- */
.mfp-fade.mfp-bg.mfp-ready { opacity:0.8; }
.mfp-fade.mfp-bg.mfp-removing { opacity:0; }
.mfp-fade.mfp-wrap .mfp-content { opacity:0; -webkit-transition:all .4s ease-out; -moz-transition:all .4s ease-out; transition:all .4s ease-out; }
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity:1; }
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity:0; }
.mfp-figure:after { box-shadow:0 0 4px rgba(0, 0, 0, 0.3) !important;}

.hermes .tp-bullet {
    width:12px;
    height:12px;
}
.uranus.tparrows:before { font-size:35px; }

/* =Carousel
-------------------------------------------------------------- */
.carousel, .carousel .item { border-radius:0; }
.carousel-inner { background-color:#272727;border-radius:0; }
.fill { width:100%;height:100%;background-size:cover; background-position:center; }
.carousel-indicators { z-index:7;}

.carousel-nav { display:initial !important; }
.carousel-nav.nav-pills>li>a { border-radius:0; }
.carousel-nav.nav-pills>li.active>a, .carousel-nav.nav-pills>li.active>a:focus, .carousel-nav.nav-pills>li.active>a:hover { color:#fff; background-color:#00B7EB; }
.carousel-nav.nav>li>a { padding:20px 15px; background-color:#FFF; color:#A9A9A9; border-bottom:1px dotted #BABABA; border-right:1px dotted #BABABA; }

.carousel-nav.nav>li>a:hover, .carousel-nav.nav>li>a:focus { color:#A9A9A9; background-color:#F4F4F4; }
.carousel-nav small { display:block; } 

.carousel-description {
	color:#fff;
	font-size:18px;
}
.carousel-title-bg { 
	background-color:#00B7EB;
	color:#fff;
	padding:7px 12px 7px 12px;
	line-height:1.5;
}
.carousel-title-bglight { 
	background-color:#fff;
	padding:7px 12px 7px 12px;
	line-height:1.5;
	color:#272727;
}
.carousel-title-bgdark { 
	background-color:#272727;
	padding:7px 12px 7px 12px;
	line-height:1.5;
	color:#fff;
}
.carousel-title-bgclear { 
	padding:7px 12px 7px 12px;
	border:2px solid #fff;
	line-height:1.5;
}
.carousel-hr {
	color:#fff;
	height:3px;
    width:50px;
    color:#fff;
    background:#fff;
    font-size:0;
    border:0;
}
.carousel-content {
	height:450px;
}
.carousel-dark {
	color:#ccc;
	height:3px;
    width:50px;
    color:#ccc;
    background:#ccc;
    font-size:0;
    border:0;
}
.carousel-caption {
	background-color:rgba(0, 0, 0, 0.5);
	width:100%;
	left:auto;
	right:auto;
	bottom:0;
	padding:20px;
}
.carousel-control { width:10%; text-shadow:none; font-size:42px;}
.carousel-control.right { background-image:none; }
.carousel-control.left { background-image:none; }
.fullscreen-carousel .carousel-control.right { top:121px; }
.fullscreen-carousel .carousel-control.left { top:121px; }
#carouselSubnav .carousel-control.right { margin-bottom:60px; }
#carouselSubnav .carousel-control.left { margin-bottom:60px; }
.carousel-title {
	font-weight:600;
	color:#fff;
}
.carousel-control .carousel-arrow-left, 
.carousel-control .carousel-arrow-right {
  position:absolute;
  top:50%;
  left:50%;
  z-index:5;
  display:inline-block;
  width:20px;
  height:20px;
  margin-top:-20px;
  margin-left:-10px;
}
.carousel-indicators-caption {
	bottom:auto;
	top:15px;
}
.carousel-indicators-caption-fs {
	bottom:auto;
	top:150px;
}
.carousel-indicators li {
	border:0;
	background-color:#e1e1e1;
}
.carousel-fade .carousel-inner .item {
  opacity:0;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -o-transition-property:opacity;
  transition-property:opacity;
}
.carousel-fade .carousel-inner .active {
  opacity:1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left:0;
  opacity:0;
  z-index:1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity:1;
}
.carousel-fade .carousel-control {
  z-index:2;
}

.transition-timer-carousel-progress-bar {
    height:4px;
    background-color:#00B7EB;
    width:0%;
    margin:0px 0px 0px 0px;
    border:none;
    z-index:7;
    position:absolute;
}

/* = Quote Carousel
-------------------------------------------------------------- */
.quote-carousel .carousel, .quote-carousel .carousel .item { height:300px; }
.quote-carousel .carousel-inner { height:300px; background-color:#272727; border-radius:0; }
.quote-carousel-content {
	height:300px;
}
blockquote footer, blockquote small, blockquote .small {
	font-size:80%;
	color:#8F8F8F;
}
blockquote {
	background-color:#fafafa;
	color:#8a8a8a;
	padding:25px 20px;
	font-size:14px;
}
.quote-carousel-control .quote-carousel-arrow-left, 
.quote-carousel-control .quote-carousel-arrow-right {
    display:inline-block;
    position:relative;
    top:106px;
    z-index:5;
	margin-right:-15px;
	margin-left:-15px;
}
.ceo-name { margin:5px 0 0 !important; }

/* = Team Carousel
-------------------------------------------------------------- */
.team-carousel .carousel, .team-carousel .carousel .item { height:300px; }
.team-carousel .carousel-inner { height:300px; background-color:transparent; }
.team-carousel-content {
	height:300px;
}
.team-carousel-control .team-carousel-arrow-left, 
.team-carousel-control .team-carousel-arrow-right {
    display:inline-block;
    position:relative;
    top:110px;
    z-index:5;
	margin-right:-15px;
	margin-left:-15px;
	color:#272727 !important;
}
.ceo-name { margin:5px 0 0 !important; }

/* = Owl Carousel
-------------------------------------------------------------- */
#owl-carousel-thumb .thumbnail,
#owl-carousel-product .thumbnail {
    position:relative;
    overflow:hidden;
    z-index:1;
    margin-bottom:30px;
}
 
#owl-carousel-thumb .thumbnail .caption,
#owl-carousel-product .thumbnail .caption {
    position:absolute;
    top:-100%;
    right:0;
    background-color:rgba(0, 183, 235, 0.77);
    -webkit-perspective:1000;
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    white-space:nowrap;
}

#owl-carousel-thumb .thumbnail .caption h4, 
#owl-carousel-thumb .thumbnail .caption h3, 
#owl-carousel-thumb .thumbnail .caption h2,
#owl-carousel-product .thumbnail .caption h4, 
#owl-carousel-product .thumbnail .caption h3, 
#owl-carousel-product .thumbnail .caption h2 {
	margin-bottom:10px;
}

#owl-carousel-thumb .thumbnail .caption:before,
#owl-carousel-product .thumbnail .caption:before {
    content:"";
    display:inline-block;
    vertical-align:middle;
    width:0;
    margin-right:-.25em;
    height:100%; 
}

#owl-carousel-thumb .thumbnail-caption-holder,
#owl-carousel-product .thumbnail-caption-holder {
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
}

#owl-carousel-thumb .thumbnail-caption-holder a:hover, #owl-carousel-product .thumbnail-caption-holder a:hover { text-decoration:underline; color:#fff; }

#owl-carousel-thumb .thumbnail:hover .caption, #owl-carousel-product .thumbnail:hover .caption {
    top:0%;
}

.owl-controls .owl-nav [class*=owl-] {
    color:#868686;
    font-size:24px;
    padding:3px 9px;
    margin-right:2px;
    background:#fff;
    display:inline-block;
    cursor:pointer;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    position:relative;
}

.owl-theme .owl-controls {
	margin-top:-23px;
	text-align:center;
	-webkit-tap-highlight-color:transparent;
	width:100%;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
	color:#C6C6C6;
	font-size:39px;
	margin:0;
	padding:10px 7px;
	display:inline-block;
	cursor:pointer;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
	color:#868686;
	text-decoration:none
}

.owl-theme .owl-controls .owl-nav .disabled{
	opacity:.5;
	cursor:default
}

.owl-dots { 
    margin-top:21px;
    border-top:1px dotted #DEDEDE;
    padding-top:10px;
    padding-bottom:4px;
    border-bottom:1px dotted #DEDEDE;
}

.owl-theme .owl-dots .owl-dot{
	display:inline-block;
	zoom:1;
	*display:inline
}

.owl-theme .owl-dots .owl-dot span{
	width:10px;
	height:10px;
	margin:5px 7px;
	background:#d6d6d6;
	display:block;
	-webkit-backface-visibility:visible;
	-webkit-transition:opacity 200ms ease;
	-moz-transition:opacity 200ms ease;
	-ms-transition:opacity 200ms ease;
	-o-transition:opacity 200ms ease;
	transition:opacity 200ms ease;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
	background:#00B7EB
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
	float:left;
}

.owl-carousel .owl-controls .owl-nav .owl-next { 
	float:right;
}
/* =Content Boxes
-------------------------------------------------------------- */
.content-box {
	padding:20px 30px;
	text-align:center;
	margin-bottom:20px;
}
.content-box-bordered {
	border:1px solid #dadada;
}

.content-box-default {
	background:#ccc;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.content-box-hover:hover {
	color:#838383;
	-webkit-box-shadow:0px 0px 1px 1px rgba(0,0,0,0.07);
	-moz-box-shadow:0px 0px 1px 1px rgba(0,0,0,0.07);
	box-shadow:0px 0px 1px 1px rgba(0,0,0,0.07);
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.content-box-default:hover {
	background:#aaa;
	border-bottom:5px solid #272727;
}
.content-box-primary {
	background:#00B7EB;
}
.content-box-success {
	background:#5cb85c;
}
.content-box-info {
	background:#5bc0de;
}
.content-box-warning {
	background:#f0ad4e;
}
.content-box-danger {
	background:#d9534f;
}
.content-box-shadow {
    -webkit-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.02);
    -moz-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.02);
    box-shadow:1px 1px 1px 0px rgba(0,0,0,0.02);
    padding:15px;
    background-color:#FAFAFA;
    border:1px solid #E6E6E6;
}
/* =Heading
-------------------------------------------------------------- */
.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
	margin:0 0 -2px 0;
	padding-bottom:15px;
	display:inline-block;
	border-bottom:2px solid #00B7EB;
}
.heading {
	display:block;
	margin:0 0 20px 0;
	border-bottom:1px dotted #d2d2d2;
	font-size:12px;
}
.heading-caption {
	font-size:12px;
	font-family:'Open Sans', sans-serif;
	position:absolute;
	line-height:1.4;
	padding-left:25px;
	padding-top:4px;
}

/* =Header 1 and 2
-------------------------------------------------------------- */
.header { padding:12px 0 12px 0; border-bottom:1px dotted #d2d2d2; background:#fafafa; }
.header h1 {
	font-size:13px;
	margin:0;
	padding-top:4px;
	font-weight:700;
	text-transform:uppercase;
}
.breadcrumb {
	padding:0;
	margin-bottom:0;
	list-style:none;
	float:right;
	background-color:transparent;
	border-radius:0;
	font-size:12px;
	margin-top:0;
}
.breadcrumb-home {
	padding-right:10px;
}

.breadcrumb a {
	color:#8F8F8F;
}

.header.header-dark {
	padding:21px 0 21px 0;
	border-bottom:1px dotted #636363;
	background:#262626;
}

.header-dark .breadcrumb a {
	color:#ECECEC;
}

.header-dark h1 {
	color:#fff;
}

/* =Header Parallax
-------------------------------------------------------------- */
.header-parallax {padding:60px 0 60px 0; background:#fafafa; }
.header-parallax h1, .header-parallax h3, .header-parallax h4, .header-parallax h5 { margin:0; padding-top:3px; color:#fff; }

/* =Panels
-------------------------------------------------------------- */
.panel {
   	border-radius:2px !important;
   	border:1px solid #e6e9ed;
   	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.02);
	box-shadow:0 1px 1px rgba(0,0,0,.02);
}
.panel-default > .panel-heading {
	background-color:#fafafa;
}
.panel-title { font-family:'Open Sans' sans-serif; }
.panel-title > a {
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	color:#8a8a8a;
}
.panel-title > a:hover {
	color:#00B7EB;
	text-decoration:none;
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-o-transition:color 0.5s ease;
	transition:color 0.5s ease;
}
.panel-group .panel-title:after {
	content:"+";
	font-size:14px;
	position:absolute;
	right:35px;
	margin-top:2px;
	color:#bababa;
}
.panel-group {
	margin-bottom:15px;
}

label { font-weight:600; }

.panel-primary { border-color:#00B7EB; }
.panel-primary>.panel-heading {  background-color:#00B7EB; border-color:#00B7EB; border-radius:0; }
.panel-success { border-color:#2ecc71; }
.panel-success>.panel-heading {  background-color:#2ecc71; border-color:#2ecc71; border-radius:0; color:#fff; }
.panel-info { border-color:#3498db; }
.panel-info>.panel-heading {  background-color:#3498db; border-color:#3498db; border-radius:0; color:#fff;}
.panel-warning { border-color:#da8a0c; }
.panel-warning>.panel-heading {  background-color:#da8a0c; border-color:#da8a0c; border-radius:0; color:#fff; }
.panel-danger { border-color:#e74c3c; }
.panel-danger>.panel-heading {  background-color:#e74c3c; border-color:#e74c3c; border-radius:0; color:#fff; }

.panel-footer {
	padding:10px 15px;
	background-color:#fafafa;
}
/* =Tabs
-------------------------------------------------------------- */
.tab-content {
	padding:30px;
	border:1px solid #e6e9ed;
}
.tab-content.tab-default {
	padding:20px;
	border:1px solid #e6e9ed;
	border-top:none;
}
.tab-content.tab-shop {
	padding:30px 30px 0 30px;
	border:1px solid #e6e9ed;
}
.tab-content.tab-product {
	padding:25px 30px;
	border:1px solid #e6e9ed;
	margin-top:22px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border:1px solid #e6e9ed;
	border-bottom-color:transparent;
	border-top:5px solid #00B7EB;
}
.nav-tabs>li>a {
	color:#555;
	border-radius:2px 2px 0 0;
	border-top:2px solid transparent;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color:transparent;
	color:#00B7EB;
}
.nav-tabs>li>a:hover {
	border-color:transparent;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
	border-top:5px solid #00B7EB;
}
.nav-tabs.nav-justified>li>a {
	border-radius:2px 2px 0 0;
	border-bottom:1px solid #ddd;
}

.nav-justified>li>a { margin-bottom:0; }
.nav-tabs.nav-justified>li>a { margin-bottom:0; }

/* =Pricing Tables
-------------------------------------------------------------- */
.price { 
	font-family:'Open Sans' sans-serif;
	text-transform:none;
	font-weight:700;
	display:inline-block;
	font-size:28px;
	padding-top:24px;
	width:100px;
	height:100px;
	cursor:default;
}

/* =Call to Action
-------------------------------------------------------------- */
.cta, .cta-dark, .cta-primary {
	background-color:#fafafa;
	padding:30px 30px;
	border-left:6px solid #d3d3d3;
}
.cta-dark {
	background-color:#272727;
	border-left:6px solid #494949;
}
.cta-primary {
	background-color:#00B7EB;
	border-left:6px solid #EAEAEA;
}
.cta p, .cta-dark p, .cta-primary p{
	margin:0;
	padding:0;
	font-size:16px;
}
.cta2 {
	z-index:10;
	background-color:#00B7EB;
	padding:30px 0;
}
.cta2 h2,
.cta2 h3,
.cta2 h4 {
	color:#fff;
	font-weight:600;
	margin-bottom:5px;
}
.cta2 h2 {
	font-size:24px;
}
.cta2 p {
	margin:0;
	padding:0 15px 0 15px;
	font-size:16px;
	color:#fff;
}
.cta2.arrow-up,
.cta2.arrow-down {
	position:relative;
	padding:60px 0;
	z-index:5;
}
.cta2.arrow-down:after {
	content:' ';
	position:absolute;
	width:0; height:0; 
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-top:15px solid #00B7EB;
	left:50%; 
	margin-left:-15px;
	bottom:-15px;
}
.cta2.arrow-up:after {
	content:' ';
	position:absolute;
	width:0; height:0; 
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-bottom:15px solid #00B7EB;
	left:50%; 
	margin-left:-15px;
	top:-15px;
}

/* =Timeline
-------------------------------------------------------------- */
.timeline {
    list-style:none;
    padding:60px 0 60px;
    position:relative;
}

.timeline:before {
    top:0;
    bottom:0;
    position:absolute;
    content:" ";
    width:3px;
    background-color:#eeeeee;
    left:50%;
    margin-left:-1.5px;
}

.timeline > li {
    margin-bottom:20px;
    position:relative;
}

.timeline > li:last-child {
	margin-bottom:0;
}

.timeline > li:before,
.timeline > li:after {
    content:" ";
    display:table;
}

.timeline > li:after {
    clear:both;
}

.timeline > li:before,
.timeline > li:after {
    content:" ";
    display:table;
}

.timeline > li:after {
    clear:both;
}

.timeline > li > .timeline-panel {
	width:46%;
	float:left;
	border:1px dotted #d2d2d2;
	border-radius:2px;
	padding:20px;
	position:relative;
	background-color:#fff;
}

.timeline > li > .timeline-panel:before {
    position:absolute;
    top:26px;
    right:-15px;
    display:inline-block;
    border-top:15px solid transparent;
    border-left:15px solid #ccc;
    border-right:0 solid #ccc;
    border-bottom:15px solid transparent;
    content:" ";
}

.timeline > li > .timeline-panel:after {
    position:absolute;
    top:27px;
    right:-14px;
    display:inline-block;
    border-top:14px solid transparent;
    border-left:14px solid #fff;
    border-right:0 solid #fff;
    border-bottom:14px solid transparent;
    content:" ";
}

.timeline > li > .timeline-badge {
	color:#fff;
	width:25px;
	height:25px;
	line-height:25px;
	font-size:1.4em;
	text-align:center;
	position:absolute;
	top:28px;
	left:50%;
	margin-left:-12.5px;
	background-color:#999999;
	z-index:1;
	border-top-right-radius:50%;
	border-top-left-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float:right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width:0;
    border-right-width:15px;
    left:-15px;
    right:auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width:0;
    border-right-width:14px;
    left:-14px;
    right:auto;
}

.timeline-badge.primary { background-color:#00B7EB !important; }
.timeline-badge.success { background-color:#2ecc71 !important; }
.timeline-badge.warning { background-color:#f39c12 !important; }
.timeline-badge.danger { background-color:#e74c3c !important; }
.timeline-badge.info { background-color:#3498db !important; }

.timeline-title {
    margin-top:0;
    color:inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom:0;
}

.timeline-body > p + p {
    margin-top:5px;
}

/* =Thumbnails
-------------------------------------------------------------- */
.thumbnail {
	padding:0;
	border-radius:0;
	border:0;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color:#00B7EB;
}

.thumbnail .caption {
	padding:25px 15px 15px 15px;
	color:#8F8F8F;
	line-height:25px;
}

.custom-content.thumbnail {
	padding:10px;
	margin-bottom:20px;
	background-color:#fff;
	border:1px solid #e6e9ed;
	border-radius:0;
}

.custom-content.thumbnail:hover {
	-webkit-box-shadow:0px 0px 1px 1px rgba(0,0,0,0.07);
	-moz-box-shadow:0px 0px 1px 1px rgba(0,0,0,0.07);
	box-shadow:0px 0px 1px 1px rgba(0,0,0,0.07);
	border-bottom:5px solid #00B7EB;
}

.custom-content.thumbnail:hover img {
	margin-bottom:2px;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

/* =Shadows
-------------------------------------------------------------- */
.shadow1 { -webkit-box-shadow:0 10px 6px -6px #b9b9b9; -moz-box-shadow:0 10px 6px -6px #b9b9b9; box-shadow:0 10px 6px -6px #b9b9b9; }
.shadow2 { -webkit-box-shadow:-9px 0 4px -4px #b9b9b9; -moz-box-shadow:-9px 0 4px -4px #b9b9b9; box-shadow:-9px 0 4px -4px #b9b9b9; }
.shadow3 { -webkit-box-shadow:0 28px 16px -26px #1d1d1d; -moz-box-shadow:0 28px 16px -26px #1d1d1d; box-shadow:0 28px 16px -26px #1d1d1d; }

/* =Dividers
-------------------------------------------------------------- */
hr { border-top:1px dotted #d2d2d2; margin-top:30px; margin-bottom:30px; }
.hr-solid { border-top:1px solid #d2d2d2; margin-top:30px; margin-bottom:30px; }
.hr-lg-margin { border-top:1px dotted #d2d2d2; margin-top:50px; margin-bottom:40px; }
.dark-hr { border-top:1px dotted #4c4c4c; }
.double-hr {
	border:0;
	height:4px;
	border-top:#d2d2d2 1px dotted;
	border-bottom:#d2d2d2 1px dotted;
	text-align:center;
	position:relative;
	clear:both;
}
.double-hr-solid {
	border:0;
	height:4px;
	border-top:#d2d2d2 1px solid;
	border-bottom:#d2d2d2 1px solid;
	text-align:center;
	position:relative;
	clear:both;
}

/* =Modals
-------------------------------------------------------------- */
.modal-content { 
	border-radius:2px;
	box-shadow:0px 2px 8px rgba(0, 0, 0, 0.2);
	border:0;
}

.modal-header {
	background-color:#00B7EB;
}

.modal-title {
	color:#fff;
	text-transform:uppercase;
	font-weight:700;
}

.modal .close {
	color:#fff;
}

.modal .close:hover {
	opacity:0.9;
}

/* =Labels and Badges
-------------------------------------------------------------- */
.label {
	font-family:'Open Sans' sans-serif;
	text-transform:none;
	font-weight:300;
	border-radius:2px;
}
.badge-square {
	border-radius:0;
}
.badge-round {
	border-radius:2px;
}
.badge-primary {
	background-color:#00B7EB;
	color:#fff;
}

.label-primary {
	background-color:#00B7EB; 
}

/* =Progress Bars
-------------------------------------------------------------- */
.progress-bar-primary {
	background-color:#00B7EB;
}
.progress-bar-dark {
	background-color:#272727;
}
.progress {
	overflow:visible;
	background:#FAFAFA;
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}
.progress.slim {
	height:3px;
}
.progress.thin {
	height:6px;
}
.progress-bar {
	position:relative;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}
.tooltip {
    position:fixed;
}
span.progress-bar-tooltip {
	padding:4px 8px;
	background-color:#2E363F;
	color:#FFF;
	line-height:15px;
	font-size:11px;
	display:block;
	position:absolute;
	top:-28px;
	right:5px;
	border-radius:2px;
}
span.progress-bar-tooltip:after {
	border-color:#2E363F transparent;
	border-style:solid;
	border-width:5px 5px 0;
	bottom:-5px;
	content:"";
	display:block;
	left:13px;
	position:absolute;
	width:0;
}
h6.progress-head {
	margin-bottom:2px;
}

/* =Content Sections
-------------------------------------------------------------- */
.content-60mg {
	margin:60px 0 60px 0;
}
.content-60mg-bordered {
	margin:60px 0 60px 0;
	border-top:1px dotted #d2d2d2;
	border-bottom:1px dotted #d2d2d2;
}
.content-40mg {
	margin:40px 0 40px 0;
}
.content-40mg-bordered {
	margin:40px 0 40px 0;
	border-top:1px dotted #d2d2d2;
	border-bottom:1px dotted #d2d2d2;
}

.content-bordered {
	border-top:1px dotted #d2d2d2;
	border-bottom:1px dotted #d2d2d2;
}

/* =Team
-------------------------------------------------------------- */
.team-description {
	font-size:14px;
	color:#8F8F8F;
}
.team-member-name {
	font-weight:400;
}
.team-member-name-imgtop {
	font-weight:400;
	padding-top:20px;
	margin-bottom:7px;
}
.team-member-img {
	border-radius:50%;
}
.team-member-img-top { 
	width:120px;
	display:block; 
	margin:0 auto;
	border-radius:50%;
}
.team-ico {
	font-size:16px;
	color:#dfdfdf;
}
.team-ico:hover {
	color:#00B7EB;
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-o-transition:color 0.5s ease;
	transition:color 0.5s ease;
}
.team-member-holder {
	-webkit-transition:opacity 0.3s;
    -moz-transition:opacity 0.3s;
    -ms-transition:opacity 0.3s;
    -o-transition:opacity 0.3s;
    transition:opacity 0.3s;
}
.team-content-holder:hover > .team-member-holder:not(:hover) {
    opacity:0.5;
}

.team-member-profile {
	width:100%;
	display:block;
	margin:0 auto;
	border-radius:50%;
}

.content-box-profile {
	padding:30px;
	text-align:center;
	margin-bottom:20px;
}

/* =Recent Posts
-------------------------------------------------------------- */
.portfolio .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width:100%;
}

/* =Clients
-------------------------------------------------------------- */
.clients-img {
	border:1px solid #e6e9ed;
	background-color:#fafafa;
    filter:grayscale(1);
    -webkit-filter:grayscale(1);
    -moz-filter:grayscale(1);
    -o-filter:grayscale(1);
    -ms-filter:grayscale(1);
}

.clients-img:hover {
    filter:grayscale(0);
    -webkit-filter:grayscale(0);
    -moz-filter:grayscale(0);
    -o-filter:grayscale(0);
    -ms-filter:grayscale(0);
 	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	opacity:0.7;
}

/* =404 + Map
-------------------------------------------------------------- */
.error-404 {
	font-size:200px;
	line-height:1.3;
}

/* =Top Bar
-------------------------------------------------------------- */
.top-bar { background-color:#fff; position:relative; font-size:12px; border-bottom:1px solid #eee; line-height:40px; }
.top-bar.top-bar-dark {
	background-color:#2D2D2D;
	position:relative;
	font-size:12px;
	border-bottom:1px solid #323232;
	line-height:40px;
}

.top-bar-dark .home-icon,
.top-bar-dark .phone-icon {
	color:#fff;
}

.top-bar-dark .topbar-list li{
	border-left:1px solid #323232;
	padding:0 14px;
}

.top-bar-dark .topbar-list:last-child {
  border-right:1px solid #323232;
}

.btn-social-icon.btn-xs :first-child {
	line-height:2 !important;
}

.topbar-list {
	margin:0;
}

.topbar-list:last-child {
	border-right:1px solid #eee;
}

.topbar-list li {
	border-left:1px solid #eee;
	padding:0 14px;
}

.topbar-list li a {
	color:#8F8F8F; -webkit-transition:color 0.8s ease; -moz-transition:color 0.8s ease; -o-transition:color 0.8s ease; transition:color 0.8s ease;
}
.topbar-list li a:hover {
	color:#00B7EB;
}

.home-icon {
	padding-right:10px;
}

.phone-icon {
	padding-right:10px;
	padding-left:35px;
}

.btn-social-icon { margin-bottom:4px }

/* =Portfolio
-------------------------------------------------------------- */
#myPortfolio .item {
	display:none;
	opacity:0;	
}

#portfolio .item {
	margin-bottom:30px;	
}

#portfolio ul {
	margin-bottom:0;
}

.nav-pills {
	font-size:14px;
	font-weight:400;
	font-weight:300;
	display:inline-block; 
}

#portfolio .nav-pills > li {
    float:none;
    display:inline-block;
    padding:2px 20px;
   	cursor:pointer;
   	font-size:14px;
   	color:#8F8F8F;
   	border:2px solid #EFEFEF;
   	border-radius:2px;
   	margin-left:20px;
   	line-height:30px;
	font-family:'Open Sans', sans-serif;
}

#portfolio .nav-pills > li:hover {
   	color:#fff;
   	background:#00B7EB;
   	border:2px solid #00B7EB;
   	-webkit-transition:color 0.3s ease;
	-moz-transition:color 0.3s ease;
	-o-transition:color 0.3s ease;
	transition:color 0.3s ease;
}

#portfolio .nav > li.active {
	color:#fff;
   	background:#00B7EB;
   	border:2px solid #00B7EB;
}

#portfolio li {
	list-style-type:none;
}

#portfolio img {
	max-width:100%;
	width:100%;
}

.portfolio-title {
	font-size:14px;
	text-transform:none;
	color:#8F8F8F;
	font-weight:600;
	margin:0 0 5px !important;
}

.image-hover-1 .mask {
	opacity:0;
	overflow:visible;
	background-color:rgba(0, 183, 235, 0.59);
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}

.image-hover-1 a.info {
	position:relative;
	text-decoration:none !important;
	border:0 !important;
	opacity:0;
	display:none;
	color:#fff;
	-webkit-transition:opacity 0.5s 0s ease-in-out;
	-moz-transition:opacity 0.5s 0s ease-in-out;
	-o-transition:opacity 0.5s 0s ease-in-out;
	-ms-transition:opacity 0.5s 0s ease-in-out;
	transition:opacity 0.5s 0s ease-in-out;
}

.image-hover-1:hover .mask {
	opacity:1;
	background-color:rgba(0, 183, 235, 0.59);
}

.image-hover-1:hover a.info {
	opacity:1;
	display:inline-block;
	-moz-transition-delay:0.1s;
	-webkit-transition-delay:0.1s;
	-o-transition-delay:0.1s;
	-ms-transition-delay:0.1s;
	transition-delay:0.1s;
}

.view {
	margin:10px 10px 25px;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.view-circle {
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.view .mask, .view .content, .view-circle .mask, .view-circle .content {
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

.image-hover-content {
	height:100%;
}

.image-hover-content:before {
    content:' ';
    display:inline-block;
    vertical-align:middle;
    height:104%;
}

.image-icons {
	font-size:24px;
	line-height:2.1 !important;
}

.image-icon-holder {
    background-color:transparent;
    border-radius:50%;
    width:50px;
    height:50px;
    display:inline-block;
    border:2px solid #fff;
}

.image-icon-holder:hover {
	background-color:#fff;
	color:#00B7EB;
}

.portfolio-title a {
	color:#a1a1a1;
}

.portfolio-title a:hover {
	color:#00B7EB;
	text-decoration:none;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}

.project-category{
	font-size:12px;
	font-family:'Open Sans', sans-serif;
}

.portfolio-text {
	background-color:transparent;
	text-align:center;
	padding-top:6px;
	margin-bottom:30px;
	line-height:15px;
}

.portfolio-text-circle {
	background-color:transparent;
	text-align:center;
	padding:0 25px 0 25px;
	margin-bottom:10px;
	line-height:15px;
}

.port-borderless {
	margin:0 0 25px 0;
	width:100%;
}

/* =Comments
-------------------------------------------------------------- */
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content:"";
	display:table;
	clear:both;
}

.blog-comment ul{
	list-style-type:none;
	padding:0;
}

.blog-comment img{
	opacity:1;
	filter:Alpha(opacity=100);
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	  	 -o-border-radius:4px;
			border-radius:4px;
}

.blog-comment img.avatar {
	position:relative;
	float:left;
	margin-left:0;
	margin-top:0;
	width:65px;
	height:65px;
}

.blog-comment .post-comments{
	border:1px solid #eee;
    margin-bottom:20px;
    margin-left:85px;
	margin-right:0px;
    padding:10px 20px;
    position:relative;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
       	 -o-border-radius:4px;
    		border-radius:4px;
	background:#fafafa;
	color:#6b6e80;
	position:relative;
}

.blog-comment .meta {
	font-size:13px;
	color:#aaaaaa;
	padding-bottom:8px;
	margin-bottom:10px !important;
	border-bottom:1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type:none;
	padding:0;
	margin-left:85px;
}

.blog-comment-form{
	padding-left:15%;
	padding-right:15%;
	padding-top:40px;
}

/* =Cart
-------------------------------------------------------------- */
.cart {
    padding:0;
    min-width:350px !important;
    font-size:13px;
}

.cart a {
	background-color:transparent !important;
    color:#00B7EB !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}

.cart .table>tbody>tr>td,.cart.table>tbody>tr>td {
	vertical-align:inherit
}

.cart .quantity {
	width:50px;
}

.cart .product {
	width:220px;
}

.cart .product .small {
	display:block;
	color:#999;
}

.cart.table .price {
	width:18%;
}

.cart.table .amount,.cart.table .quantity,.cart.table .remove {
	width:12%;
}

.cart.table .quantity input {
	width:60px;
	padding:6px;
}

.cart.table .product {
	font-size:15px;
}

.cart.table .product small {
	font-size:12px;
	display:block;
	color:#999;
}

.cart.table .total-amount,.cart.table .total-quantity {
	padding-top:15px;
	padding-bottom:15px;
	font-size:16px;
	font-weight:700;
}

.cart.table .btn-remove {
	position:relative;
	top:-5px;
}

.cart.table .form-group {
	margin:7px 0;
}

.table .information {
	width:80%;
}

.table>thead>tr>th { background-color:#F7F7F7; }

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { border-top:1px solid #E4E9F0; }

.cart-table {
	margin-bottom:0;
	border-bottom:3px solid #F3F3F3;
}

.table.cart-table>thead>tr>th {
    background-color:#00B7EB;
    color:#fff;
    padding:12px 15px;
    font-size:16px;
}

.table.cart-table>tbody>tr>td, .table.cart-table>tbody>tr>th, .table.cart-table>tfoot>tr>td, .table.cart-table>tfoot>tr>th {
    padding:10px 15px;
    vertical-align:middle;
}

.product-name { font-weight:500; }
.product-description { display:block; }

.cart-table .cart-price { vertical-align:middle; }
.cart-table .cart-total { vertical-align:middle; text-align:right; font-weight:800; font-size:16px; }
.cart-table .total-title { text-align:right; }
.cart-table .cart-quantity { width:62px; }
.cart-table .subtotal { font-weight:800; font-size:16px; }

.cart-table>tbody>tr:nth-of-type(even) {
    background-color:#F3F3F3;
}

/* =Blog
-------------------------------------------------------------- */
.blog-post .blog-post-holder {
	padding:30px 30px;
	background-color:#fff;
	border:1px dotted #d2d2d2;
	border-top:0;
}

.blog-post h2 a {
	color:#767676;
	font-weight:400;
	font-size:21px;
}

.blog-post h2 a:active, .blog-post h2 a:hover {
	color:#00B7EB;
}

.blog-post .list-inline {
	margin-bottom:5px;
	font-size:12px;
}

.latest-posts h3 a  {
	font-size:14px;
	color:#767676;
}

.latest-posts h3 a:hover {
	color:#00B7EB;
}

.latest-posts small {
	font-size:10px;
}

.latest-posts p {
	font-size:12px;
	margin-bottom:10px;
	border-bottom:1px dotted #d2d2d2;
	padding-bottom:15px;
}

.blog-heading {
	display:block;
	background:#fafafa;
	padding:1px 10px;
	margin:0 0 10px 0;
	border-left:2px solid #000;
	border:1px dotted #d2d2d2;
	border-left:3px solid #00B7EB;
}

.blog-heading h3 {
	margin:7px 0;
	font-size:18px;
	color:#666666;
}

.media-heading {
	line-height:1.5;
	font-size:13px;
}

.media-list { margin-bottom:0;  font-weight:400; }
.media-list a { color:#767676; padding-left:0; }
.media-list a:hover { color:#00B7EB; }

.media-list small { font-size:10px; }

.tags {
	margin:0px 6px 7px 0;
}

/* =Shop
-------------------------------------------------------------- */
.nav-pills.nav-pills-shop>li>a {
    padding:6px 16px;
    cursor:pointer;
    font-size:14px;
    color:#ABABAB;
    border:2px solid #EFEFEF;
    border-radius:2px;
    text-transform:none;
}
.nav-pills.nav-pills-shop>li.active>a, .nav-pills.nav-pills-shop>li.active>a:focus, .nav-pills.nav-pills-shop>li.active>a:hover, .nav-pills.nav-pills-shop>li>a:hover {
    color:#fff;
    background-color:#00B7EB;
    border-color:#00B7EB;
	-webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    transition:color 0.3s ease;
}
.shop-product h2 { 
    font-size:18px;
    text-transform:none;
    font-weight:400;
    margin-bottom:8px;;
    color:#757575;
}
.shop-product a h2:hover,.shop-product a h3:hover,.shop-product a h4:hover { color:#00B7EB; }
.shop-product-price {
    margin-left:10px;
    float:right;
    margin-top:5px;
}
.product-container {
    position:relative;
    display:block;
    text-align:center;
    overflow:hidden;
}
.product-container .badge {
    position:absolute;
    border:1px solid #fff;
    background-color:transparent;
    color:#fff;
    font-weight:400;
    padding:4px;
    top:10px;
    right:10px;
    border-radius:0;
}
.shop-product-price small {
    font-size:65%;
}
.content-render-right {
	background-color:#00B7EB;
	background-repeat:no-repeat;
	background-position:right top;
	margin-top:30px;
	padding:50px 0;
}

.content-render-1 {	background-image:url('../images/backgrounds/chick-render.png'); }
.content-render-2 {	background-image:url('../images/backgrounds/dude-render.png'); }
.review-col { width:140px; }
.mfp-counter { display:none; }

.product-price {
	color:#ccc;
	float:left;
	margin:12px 8px 0 0;
}

/* =Footer
-------------------------------------------------------------- */
.footer { 
	padding:30px 0 30px 0;
	background-color:#272727;
	color:#8F8F8F;
	vertical-align:bottom;
}

.footer-light { 
	padding:30px 0 30px 0;
	background-color:#fafafa;
	color:#8F8F8F;
	vertical-align:bottom;
	border-top:1px dotted #d2d2d2;
}

.footer-light p {
	margin:0 0 5px;
}

.footer-light a {
	font-weight:400;
}

.footer-light .thumbnail {
	padding:0;
	border:0;
	border-radius:0px;
	margin-bottom:0;
}

.footer-light .thumbnail:hover {
	outline:5px solid #00B7EB;
}

.footer-light .heading-footer h2, .footer-light .heading-footer h3, .footer-light .heading-footer h4 {
	margin:0 0 -2px 0;
	padding-bottom:20px;
	display:inline-block;
	font-weight:400;
	border-bottom:2px solid #00B7EB;
	font-family:'Raleway', sans-serif;
	color:#5F5F5F;
	font-size:14px;
}

.footer-light .heading-footer {
	display:block;
	margin:0 0 25px 0;
	border-bottom:1px dotted #C3C3C3;
	font-size:12px;
}

.footer-light .address {
	color:#5e5e5e;
	font-weight:400;
	margin-top:20px;
}

.footer-light .copyright {
	color:#B1B1B1;
	font-size:12px;
	font-weight:400;
}

.footer-light .footer-scrolltop-holder {
  height:30px;
  width:30px;
  background-color:#CECECE;
  text-align:center;
  float:right;
}

.footer-light .footer-info-icons {
	padding-right:15px;
	color:#8B8B8B;
}

.address {
	color:#5e5e5e;
	font-weight:400;
	margin-top:20px;
}

.copyright {
	color:#646464;
	font-size:12px;
	font-weight:400;
}

footer p {
	margin:0 0 5px;
}

footer a {
	font-weight:400;
}

.footer-info-icons {
	padding-right:15px;
	color:#fff;
}

.heading-footer h2, .heading-footer h3, .heading-footer h4 {
	margin:0 0 -2px 0;
	padding-bottom:20px;
	display:inline-block;
	font-weight:400;
	border-bottom:2px solid #00B7EB;
	font-family:'Open Sans', sans-serif;
	color:#dedede;
	font-size:14px;
}

.heading-footer {
	display:block;
	margin:0 0 25px 0;
	border-bottom:1px dotted #4c4c4c;
	font-size:12px;
}

.recent-work-padding {
	padding-left:0;
	padding-right:5px;
}

.footer .thumbnail {
	padding:0;
	border:0;
	border-radius:0px;
	margin-bottom:0;
}

.footer .thumbnail:hover {
	outline:5px solid #00B7EB;
}

.footer-scrolltop-holder {
	height:30px;
	width:30px;
	background-color:#353535;
	text-align:center;
	float:right;
}

.footer-scrolltop {
	font-size:16px;
	color:#fff;
	line-height:30px !important;
}

.footer-scrolltop-holder:hover {
	background-color:#00B7EB;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;	
}

.footer-plus-icon {
	font-size:28px;
	color:#fff;
}
.dropdown-animation { -webkit-animation-duration:.5s !important; animation-duration:.5s !important; }

/* =Media Queries
-------------------------------------------------------------- */

/* Phones and down */
@media (max-width:480px) {
	.team-description { padding:0 10% 0 10% !important; }
	.hero-title { font-size:32px; }
	.carousel-title-bg {font-size:14px;}
	.carousel-title-bgdark {font-size:14px;}
	.carousel-title-bglight {font-size:14px;}
	#about .heading { border-bottom:none !important; }
	.heading-caption { margin-top:-8px; padding-top:0; }
	#recent-posts .thumbnail { margin:0 5% 30px 5% !important; }
	#portfolio .nav-pills > li { margin-bottom:20px; }
	.carousel-description { font-size:14px; }
	.carousel-description h1, .carousel-description h2, .carousel-description h3 { font-size:17px; }
	.carousel-content { height:450px; }
	.shop-product-price { margin-left:0; }
	.tab-content.tab-shop { padding:0; border:none; }
	.nav-pills.nav-pills-shop>li>a { padding:0; padding-bottom:3px; border-bottom:1px solid #CCC; border-top:0; border-left:0; border-right:0; border-radius:0; }
	.nav-pills.nav-pills-shop>li.active>a, .nav-pills.nav-pills-shop>li.active>a:focus, .nav-pills.nav-pills-shop>li.active>a:hover, .nav-pills.nav-pills-shop>li>a:hover { color:#00B7EB; background-color:transparent; }
}

/* Landscape phones and portrait tablets */
@media (max-width:767px) {
	.navbar .navbar-nav li a { line-height:3.4; }
	.navbar-collapse { -webkit-box-shadow:0px 3px 0px 0px rgba(0,0,0,0.08); -moz-box-shadow:0px 3px 0px 0px rgba(0,0,0,0.08); box-shadow:0px 3px 0px 0px rgba(0,0,0,0.08); }
	.navbar.navbar-main .navbar-nav li a { padding-top:5px; padding-bottom:5px; line-height:26px; }
	.navbar.navbar-main .dropdown-menu { border-top:1px solid #f0f0f0; border-bottom:0; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; margin-bottom:5px !important; }
	.navbar.navbar-main .dropdown-menu > li > a { padding:5px 20px 5px 23px; }
	.quote-carousel .carousel, .quote-carousel .carousel .item { height:450px; }
	.quote-carousel .carousel-inner { height:450px; background-color:#272727; }
	.quote-carousel-content { height:450px; }
	.carousel-image { display:none; }
	.cta-description { text-align:center; }
	.carousel-description { padding:0 10% 0 10%; }
	.p15xs { padding:0 15% 0 15%; }
	.cta-img { display:block; margin:0 auto; }
	.ceo-name { text-align:center; margin:5px 0 5px !important; }
	.company-name { text-align:center; }
	.team-description { text-align:center; padding:0 15% 0 15%; }
	.team-member-img { width:175px; display:block; margin:0 auto; }
	.team-member-name { text-align:center; padding-top:20px; }
	.quote-img { display:block; margin:0 auto; padding:15px 0 21px; }
	#about .tab-pane-border { margin:30px 25px 0 25px; }
	.hero-image { padding:0 15% 0 15%; }
	.hero-title { margin-top:50px; }
	.showcase-image { padding-top:30px; }
	.parallax-content { font-size:14px }
	.mg25-xs{ margin-top:25px; }
	.pt50 { padding-top:25px !important; }
	.quote-carousel blockquote { font-size:14px; line-height:1.7; }
	#recent-posts .thumbnail { margin:0 15% 30px 15%; }
	.dropdown-submenu>.dropdown-menu{ margin-left:12px; padding:0 0; border-left:1px solid #f0f0f0 !important; }
	.dropdown-menu > li:last-child > a { border-bottom:1px solid #f0f0f0 !important; }
	.breadcrumb { display:none; }
	.content-60pd { padding:40px 0 40px 0; }
	.content-60pd-bordered { padding:40px 0 40px 0; }
	.mt30-lgscreen { margin-top:0;}
	.bs-glyphicons li { width:25%;font-size:12px; }
	.copyright { line-height:1.4; }
	.navbar-header {height:80px;border-bottom:1px solid #e0e0e0; }
	.panel-group .panel-title:after { display:none; }
	.mt30-xs { margin-top:30px !important; }
	.mt15-xs { margin-top:15px !important; }
	.mt20-xs { margin-top:20px !important; }
	.mb30-xs { margin-bottom:30px !important; }
	.mb15-xs { margin-bottom:15px !important; }
	.mb20-xs { margin-bottom:20px !important; }
	.error-404 { font-size:80px; }
	ul.timeline:before { left:27px; }
	ul.timeline > li > .timeline-panel { width:calc(100% - 90px); width:-moz-calc(100% - 90px); width:-webkit-calc(100% - 90px); }
	ul.timeline > li > .timeline-badge { left:15px; margin-left:0; }
	ul.timeline > li > .timeline-panel { float:right; }
	ul.timeline > li > .timeline-panel:before { border-left-width:0; border-right-width:15px; left:-15px; right:auto; }
	ul.timeline > li > .timeline-panel:after { border-left-width:0; border-right-width:14px; left:-14px; right:auto; }
	.carousel-nav.nav>li>a { padding:8px 15px; }
	.navbar-dark .dropdown-submenu>.dropdown-menu { border-left:1px solid #323232 !important; }
	.navbar-dark .dropdown-menu > li:last-child > a { border-bottom:1px solid #323232 !important; }
	.navbar-dark .navbar-header { border-bottom:1px solid #323232; }
	.column-header { padding-left:0; padding-right:0; }
	.navbar.navbar-main .navbar-nav .mega-dropdown li a { line-height:24px; }
	.content-render-right { background-image:none; margin-top:0; }
	#fixed-navbar.affix { position:static; }
	.navbar-wrapper { height:100%; }
	a.trigger { margin-bottom:2px; }
	.navbar-brand-centered { left:0; }
	.navbar.navbar-main>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered { margin-left:0; }
}

@media (min-width:769px) {
	.mt30-lg { margin-top:30px !important; }
	.mt20-lg { margin-top:20px !important; }
    .dropdown-main:hover .dropdown-subhover { display:block; }
	.dropdown-submenu { position:relative; }
	.dropdown-submenu>.dropdown-menu { top:0; left:100%; margin-top:-1px; margin-left:0; }
	.dropdown-submenu:hover>.dropdown-menu { display:block; }
}

@media (min-width:768px) and (max-width:991px) {
	.nav>li>a { padding:10px 12px; }
	.mt15-sm { margin-top:15px; }
	.navbar.navbar-main>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered { margin-left:-52px; }
}

/* Portrait tablets and medium desktops */
@media (max-width:992px) {
	.mt15-md { margin-top:15px !important; }
}

/* Portrait tablets and medium desktops */
@media (max-width:1199px) {
	.mt15-lg { margin-top:15px !important; }
}

@-ms-viewport{ width:auto !important; }