  body {
    background-color: white;
  }
  .slidee {
    z-index: 1;
    position: absolute;
    /*width: 100%;*/
    top: 0;
    /*margin-left: -7%;*/
    /*left: 0;*/
    /*height: 100%;*/
    transition: opacity 1s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 100*/
  }
    .slider {
    max-width: 300px;
    height: 200px;
    margin: 20px auto;
    position: relative
  }
  .slide1,
  .slide2,
  .slide3,
  .slide4,
  .slide5 {
    position: absolute;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%
  }
  .slide1 {
    background-size: 100% 350px;
    animation: fade 8s infinite;
    -webkit-animation: fade 8s infinite
  }
  .slide2 {
    background-size: 100% 350px;
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite
  }
  .slide3 {
    background-size: 100% 350px;
    animation: fade3 8s infinite;
    -webkit-animation: fade3 8s infinite
  }
  @keyframes fade {
    0% {
      opacity: 1
    }
    33.333% {
      opacity: 0
    }
    66.666% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @keyframes fade2 {
    0% {
      opacity: 0
    }
    33.333% {
      opacity: 1
    }
    66.666% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
  @keyframes fade3 {
    0% {
      opacity: 0
    }
    33.333% {
      opacity: 0
    }
    66.666% {
      opacity: 1
    }
    100% {
      opacity: 0
    }
  }
  @media screen and (max-width: 1118px) {
    .tulisanbanner4 {
      font-size: 20px
    }
  }
  @media screen and (max-width: 1092px) {
    .tulisanbanner1 {
      font-size: 40px
    }
  }
  @media screen and (max-width: 1000px) {
    .banner {
      color: white;
      position: absolute;
      z-index: 1;
      right: 0;
      margin-right: 5.5%;
      margin-top: 13%;
      width: 35%;
      font-size: 15px
    }
    .bannerleft {
      color: white;
      position: absolute;
      z-index: 1;
      left: 0;
      margin-left: 5.5%;
      margin-top: 13%;
      width: 35%;
      font-size: 15px
    }
  }
  @media screen and (max-width: 640px) {
    .banner {
      color: white;
      position: absolute;
      z-index: 1;
      right: 0;
      margin-right: 5.5%;
      margin-top: 13%;
      width: 44%;
      font-size: 10px
    }
    .bannerleft {
      color: white;
      position: absolute;
      z-index: 1;
      left: 0;
      margin-left: 5.5%;
      margin-top: 13%;
      width: 35%;
      font-size: 10px
    }
  }
  .banner {
    color: white;
    position: absolute;
    z-index: 1;
    right: 0;
    margin-right: 5.5%;
    margin-top: 13%;
    width: 35%
  }
  .bannerleft {
    color: white;
    position: absolute;
    z-index: 1;
    left: 0;
    margin-left: 5.5%;
    margin-top: 13%;
    width: 35%
  }
  #kotak2aaa {
    margin-top: -90px
  }
  #namafitur {
    font-size: 1.7em;
    color: #333
  }
  #kotakkananheader {
    position: relative;
    padding-left: 3%;
    padding-right: 3%
  }
  @media screen and (min-width: 991px) {
    #kotak2nih {
      display: inline;
      margin-top: 20px;
      height: 480px;
      margin-left: -2px;
      background-image: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>banner/Header_kanan.png')
    }
  }
  @media screen and (max-width: 1200px) {
    #namafitur {
      font-size: 1.5em;
      color: #333;
      margin-top: 12%
    }
  }
  @media screen and (max-width: 991px) {
    .kotakfitur {
      height: 200px
    }
    .header_atas {
      margin-top: 0px
    }
    #logoandroid_panjang {
      margin-left: 130px
    }
    #title_aplikasi {
      display: none
    }
    #title_aplikasi_android {
      display: none
    }
    #aplikasi_bawah {
      display: inline
    }
    #kotakdepan {
      margin-left: 90px
    }
    #namafitur {
      text-align: center;
      font-size: 1.3em;
      color: #333;
      margin-top: 12%
    }
    #kotakkananheader {
      font-size: 20px;
      position: relative;
      padding-left: 5%;
      margin-top: 2%;
      padding-right: 5%
    }
    #kotak2nih {
      background-image: none
    }
  }
  @media screen and (max-width: 770px) {
    #logo_android {
      margin-top: -9.5%;
      margin-right: 100px;
      padding: 0
    }
  }
  @media screen and (max-width: 700px) {
    #kotak2nih {
      margin: 0;
      margin-bottom: 14%;
      height: 500px;
      padding: 0;
      margin-left: -0.1%;
      margin-top: -12.5%
    }
    #namafitur {
      font-size: 1.2em;
      color: #333;
      margin-top: 14%
    }
    #kotak2aaa {
      margin-top: 1em
    }
    #kotakkananheader {
      display: hidden;
      position: relative;
      padding-left: 5%;
      margin-top: 4%;
      padding-right: 5%
    }
  }
  @media screen and (max-width: 562px) {
    #logo_android {
      margin-top: -15.5%;
      margin-right: 100px;
      padding: 0
    }
  }
  @media screen and (max-width: 384px) {
    #logo_android {
      margin-top: -30.5%;
      margin-right: 100px;
      padding: 0
    }
  }
  @media screen and (max-width: 320px) {
    .headerbanner {
      background-repeat: no-repeat;
      margin-top: 0px;
      height: 20px;
      width: 30%;
      background-size: 30% 30%;
      padding: 0
    }
  }
  @media screen and (orientation: portrait) {
    #untuk_potrait{
      display: block;
    }
    #slide_landscape{
      display: none;
    }
    #slide_potrait{
      display: block;
    }
    #android_landscape{
      display: none;
    }
    #banner_landscape{
      display: none;
    }
    #banner_portrait{
      display: block;
    }
    #android_potrait{
      display: block;
    }
    #fitur_4landscape{
      display: none;
    }
    #fitur_4portrait{
      display: block;
    }
    #kotaklandscape{
      display: none;
    }
    #kotak2aaa{
      display: block;
    }
    .img_5fitur{
      margin-top: 3px;
      width: 130%; 
      height: auto;
    }
    .img_landscape {
      display: none
    }
    .img_portrait {
      display: block
    }
    .slide1 {
      background-size: 100% 350px;
      animation: fade 8s infinite;
      -webkit-animation: fade 8s infinite
    }
    .slide2 {
      background-size: 100% 350px;
      animation: fade2 8s infinite;
      -webkit-animation: fade2 8s infinite
    }
    .slide3 {
      background-size: 100% 350px;
      animation: fade3 8s infinite;
      -webkit-animation: fade3 8s infinite
    }
    .judul_potrait {
      display: inline
    }
    .judul_landscape {
      display: none
    }
    .fitur_potrait {
      display: inline
    }
    .fitur_landscape {
      display: hidden
    }
    .headerbanner {
      animation: changesback 6s infinite ease-in-out;
      background-repeat: no-repeat;
      margin-top: 0px;
      height: 260px;
      width: 100%;
      background-size: 100% 100%;
      padding: 0
    }
    .headerjudul {
      font-size: 1.0em;
      color: #333;
      font-weight: bold;
      text-align: center
    }
    .headerjudul_1 {
      display: none
    }
    #modal_welcome {
      margin-top: 30%
    }
    .comingsoonlogo {
      margin-top: -45%;
      margin-left: 75%;
      height: 80px;
      width: 80px
    }
  }
  @media screen and (orientation: landscape) {
    #untuk_potrait{
      display: none;
    }
    #slide_landscape{
      display: block;
    }
    #slide_potrait{
      display: none;
    }
    #android_landscape{
      display: block;
    }
    #banner_landscape{
      display: block;
    }
    #banner_portrait{
      display: none;
    }
    #android_potrait{
      display: none;
    }
    #fitur_4landscape{
      display: block;
    }
    #fitur_4portrait{
      display: none;
    }
    #kotak2aaa{
      display: none;
    }
    #kotaklandscape{
      display: block;
    }
    .img_5fitur{
      margin-top: 3px;
      width: 100%; 
      height: auto;
    }
    .img_portrait {
      display: none
    }
    .slide1 {
      margin-top: -4%;
      background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/SMAUtuh.png')no-repeat center;
      background-size: 100% 250px;
      animation: fade 8s infinite;
      -webkit-animation: fade 8s infinite
    }
    .slide2 {
      margin-top: -4%;
      background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/Banner-Header-Tutor_Full_rev.png')no-repeat center;
      background-size: 100% 250px;
      animation: fade2 8s infinite;
      -webkit-animation: fade2 8s infinite
    }
    .slide3 {
      margin-top: -4%;
      background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/Banner-Header-Student_Full.png')no-repeat center;
      background-size: 100% 250px;
      animation: fade3 8s infinite;
      -webkit-animation: fade3 8s infinite
    }
    #modal_welcome {
      margin-top: 10%
    }
    .judul_potrait {
      display: none
    }
    .judul_landscape {
      display: inline
    }
    .judul {
      margin-top: -50%;
      font-size: 14px
    }
    .fitur_potrait {
      display: hidden
    }
    .fitur_landscape {
      display: inline
    }
    .headerbanner {
      background-repeat: no-repeat;
      margin-top: 0px;
      height: 240px;
      width: 100%;
      background-size: 100% 240px;
      padding: 3
    }
    .headerjudul {
      display: none
    }
    .headerjudul_1 {
      display: inline;
      margin-left: 320px;
      margin-top: 40px
    }
  }
  @media screen and (min-device-width: 357px) and (max-device-width: 667px) and (orientation: landscape) {
    .judul_potrait {
      display: none
    }
    .judul_landscape {
      display: inline
    }
    .judul {
      margin-top: -40%;
      font-size: 14px
    }
    .fitur_potrait {
      display: hidden
    }
    .fitur_landscape {
      display: inline
    }
    .headerbanner {
      background-repeat: no-repeat;
      margin-top: 0px;
      height: 240px;
      width: 100%;
      background-size: 100% 240px;
      padding: 3
    }
    .headerjudul {
      display: none
    }
    .headerjudul_1 {
      display: inline;
      margin-left: 320px;
      margin-top: 40px
    }
  }
  @media screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    .judul_potrait {
      display: none
    }
    .judul_landscape {
      display: inline
    }
    .judul {
      font-size: 14px
    }
    .fitur_potrait {
      display: hidden
    }
    .fitur_landscape {
      display: inline
    }
    .headerbanner {
      background-repeat: no-repeat;
      margin-top: 0px;
      height: 240px;
      width: 100%;
      background-size: 100% 240px;
      padding: 3
    }
    .headerjudul {
      display: none
    }
    .headerjudul_1 {
      display: inline;
      margin-left: 320px;
      margin-top: 40px
    }
  }
  @media screen and (min-device-width: 412px) and (max-device-width: 732px) and (orientation: landscape) {
    .judul_potrait {
      display: none
    }
    .judul_landscape {
      display: inline
    }
    .judul {
      font-size: 14px
    }
    .fitur_potrait {
      display: hidden
    }
    .fitur_landscape {
      display: inline
    }
    .headerbanner {
      background-repeat: no-repeat;
      margin-top: 0px;
      height: 240px;
      width: 100%;
      background-size: 100% 240px;
      padding: 3
    }
    .headerjudul {
      display: none
    }
    .headerjudul_1 {
      display: inline;
      margin-left: 320px;
      margin-top: 40px
    }
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .judul_potrait {
      display: none
    }
    .judul_landscape {
      display: inline
    }
    .judul {
      margin-left: 900%;
      font-size: 26px
    }
    .fitur_potrait {
      display: hidden
    }
    .fitur_landscape {
      display: inline
    }
    .headerbanner {
      background-repeat: no-repeat;
      margin-top: 0px;
      height: 340px;
      width: 100%;
      background-size: 100% 340px;
      padding: 3
    }
    .headerjudul {
      display: none
    }
    .headerjudul_1 {
      display: inline;
      margin-left: 320px;
      margin-top: 40px
    }
  }
  #slide3 {
    background-image: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/Banner-Header-Tutor_Full.png')
  }

    .product {
     /* margin: 50px auto;
      width: 280px;
      height: 370px;*/
      background: white;
      /*border: 1px solid #333;*/
      position: relative;
      z-index: 90;
    }
    .ribbon-wrapper {
      /*background-color: red;*/
      width: 140px;
      height: 140px;
      overflow: hidden;
      position: absolute;
      top: 0px;
      left: -3px;
    }
    .ribbon-wrapper-right {
      /*background-color: red;*/
      width: 140px;
      height: 140px;
      overflow: hidden;
      position: absolute;
      top: 6px;
      left: -13px;
    }
      .ribbon {
        font: bold 15px sans-serif;
        color: #333;
        text-align: center;
        -webkit-transform: rotate(-45deg);
        -moz-transform:    rotate(-45deg);
        -ms-transform:     rotate(-45deg);
        -o-transform:      rotate(-45deg);
        position: relative;
        padding: 7px 0;
        top: 35px;
        left: -40px;
        width: 200px;
        background-color: #ebb134;
        color: #fff;
      }
      .ribbon-right {
        font: bold 15px sans-serif;
        color: #008080;
        text-align: center;
        position: relative;
        padding: 7px 0;
        top: 10px;
        left: -4px;
        width: 150px;
        background-color: #008080;
        color: #fff;
      }
    }

    .paper{
            display: inline-block;
            position: relative;
            overflow: hidden;
            padding: 15px 20px;
            background-color: #f3cc0c;
            -webkit-transition: 0.25s ease-in-out all;
            -moz-transition: 0.15s ease-in-out all;
            -o-transition: 0.15s ease-in-out all;
            transition: 0.15s ease-in-out all;
        }
        .paper:hover {
            -moz-border-radius: 0 0 20px 0;
            -webkit-border-radius: 0 0 20px 0;
            border-radius: 0 0 20px 0;
        }
        .paper:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 30;
            -moz-box-shadow: -5px 2px 5px rgba( 0, 0, 0, 0.3 );
            -webkit-box-shadow: -5px 2px 5px rgba( 0, 0, 0, 0.3 );
            box-shadow: -5px 2px 5px rgba( 0, 0, 0, 0.3 );
            -webkit-transition: 0.25s ease-in-out all;
            -moz-transition: 0.15s ease-in-out all;
            -o-transition: 0.15s ease-in-out all;
            transition: 0.15s ease-in-out all;
        }
        .paper:hover:after{
            width: 15px;
            height: 15px;
            -webkit-transform: rotate(-10deg) translate3d( 0, 0, 0 );
            -moz-transform: rotate(-10deg) translate3d( 0, 0, 0 );
            -o-transform: rotate(-10deg) translate3d( 0, 0, 0 );
            transform: rotate(-10deg) translate3d( 0, 0, 0 );
        }
    #fpc_effect-back {
      background-color: #008080; /* some background color to match corner inside's */
      width: 100%;/* trivial */
      font: 12pt arial,sans-serif,helvetica,verdana;/* trivial */ 
      color: #666;//trivial
    }
    #fpc_effect-back * {
      box-sizing: border-box;
    }
    #fpc_box {
      /*width: 500px;any relative or absolute*/
      position: relative;
      background-color: #FFF;
    }
    #fpc_content {
      padding: 20px;
    }
    #fpc_content:before {
      content:"";
      /*width: 80px;*/
      /*height: 80px;*/
      float: right;
    }
    #fpc_page-tip:before, #fpc_page-tip:after {
      background-color: #FFF;
      position: absolute;
      display: block;
      z-index: 2;
      border-top-right-radius: 60%;
      width: 50%;
      height: 50%;
      content: "";
    }
    #fpc_page-tip:before {
      right: 100%;
      top: 0%;
      background: -webkit-radial-gradient(-180% 200%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.1) 93%);
    }
    #fpc_box:hover #fpc_page-tip:before {
      border-right: solid 1px #fff;
    }
    #fpc_box div#fpc_corner-box:hover #fpc_page-tip:before {
      border-right: solid 2px #fff;
    }
    #fpc_page-tip:after {
      top: 100%;
      right: 0%;
      background: -webkit-radial-gradient(-250% 320%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.10) 93%);
    }
    #fpc_box:hover #fpc_page-tip:after {
      border-top: solid 1px #fff;
    }
    #fpc_box div#fpc_corner-box:hover #fpc_page-tip:after {
      border-top: solid 2px #fff;
    }
    #fpc_corner-box {  /* edit these sizes for the default revealing corner size */
      height: 20px;
      width: 20px;
      right: 0;
      top: 0;
      position: absolute;
      overflow: visible;
    }
    #fpc_box:hover #fpc_corner-box { /* edit corner size (First animation, when the whole page is rollovered) */
      height: 50px;
      width: 50px;
    }
    #fpc_box div#fpc_corner-box:hover { /* edit corner size (Second animation, when the corner itself is rollovered) */
      height: 100px;
      width: 100px;
    }
    #fpc_corner-box:before {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      display: block;
      width: 133%;
      height: 133%;
    }
    #fpc_corner-contents:after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      background:  -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 37%, #DDD 62%, rgba(230, 230, 230, 0.1) 64%, rgba(255, 255, 255, 0) 67%), -webkit-radial-gradient(-50% 150%, circle, transparent 74%, rgba(0, 0, 0, 0.2) 74%, transparent 81%);
      display: block;
      width: 133%;
      height: 133%;
    }
    #fpc_page-tip {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      background: -webkit-linear-gradient(45deg, #ddd 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eee 39%, rgba(200,200,200,0) 41%);
      display: block;
      width: 100%;
      height: 100%;
    }
    #fpc_corner-button {
      -webkit-transform: rotate(45deg);
        -moz-transform:    rotate(45deg);
        -ms-transform:     rotate(45deg);
        -o-transform:      rotate(45deg);
      position: absolute;
      width: 7em;
      top: 0;
      right: 0;
      background-color: #008080;
      /*background-color: red;*/
      color: #fff;
      font-family: Verdana, Geneva, sans-serif;
      text-align: center;
      padding: 8px 5px;
      border-radius: 5px;
      display: inline-block;
      font-size: 11px;
    }
    #fpc_corner-contents {
      width: 125%;
      position: absolute;
      display: block;
      overflow: hidden;
      -webkit-mask: -webkit-linear-gradient(45deg, transparent 49%, #000 53%);
      top: 0;
      right: 0;
      height: 125%;
    }
    #fpc_corner-contents:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #008080; /* Match this background color to #fpc_effect-back */
    }
    #fpc_corner-box, #fpc_corner-contents, #fpc_page-tip {
      -webkit-transition-property: all;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.7);
    }
    #fpc_corner-button strong {
      font-size: 13px;
      font-weight: bold;
      display: block;
    }


    .animasiku {
      -webkit-animation-duration: 1s;
      /*-webkit-animation-delay: 3s;*/
      /*animation-delay: 2s;*/
      animation-duration: 1s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
    .animasi {
      -webkit-animation-duration: 1s;
      /*-webkit-animation-delay: 3s;*/
      /*animation-delay: 2s;*/
      animation-duration: 1s infinite linear;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .animasi:hover {
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      color: #080800;
    }


   

    @-webkit-keyframes tada {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      }

      30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      }

      40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    @keyframes tada {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      }

      30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      }

      40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    .tada {
      -webkit-animation-name: tada;
      animation-name: tada;
    }
