@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
}
.col-item .photo img
{
  margin: 0 auto;
  width: 100%;
}

.col-item .info
{
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}

.col-item:hover .info {
  background-color: #F5F5DC;
}
.col-item .price
{
  /*width: 50%;*/
  float: left;
  margin-top: 5px;
}

.col-item .price h5
{
  line-height: 20px;
  margin: 0;
}

.price-text-color
{
  color: #219FD1;
}

.col-item .info .rating
{
  color: #777;
}

.col-item .rating
{
  /*width: 50%;*/
  float: left;
  font-size: 17px;
  text-align: right;
  line-height: 52px;
  margin-bottom: 10px;
  height: 52px;
}

.col-item .separator
{
  border-top: 1px solid #E1E1E1;
}

.clear-left
{
  clear: left;
}

.col-item .separator p
{
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.col-item .separator p i
{
  margin-right: 5px;
}
.col-item .btn-add
{
  width: 50%;
  float: left;
}

.col-item .btn-add
{
  border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
  width: 50%;
  float: left;
  padding-left: 10px;
}
.controls
{
  margin-top: 20px;
}
[data-slide="prev"]
{
  margin-right: 10px;
}
.product {
 /* margin: 50px auto;
  width: 280px;
  height: 370px;*/
  background: white;
  /*border: 1px solid #333;*/
  position: relative;
  z-index: 90;
}
.ribbon-wrapper {
	/*background-color: red;*/
  width: 140px;
  height: 140px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: -3px;
}
.ribbon-wrapper-right {
	/*background-color: red;*/
  width: 140px;
  height: 140px;
  overflow: hidden;
  position: absolute;
  top: 6px;
  left: -13px;
}
	.ribbon {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 35px;
    left: -40px;
    width: 200px;
    background-color: #ebb134;
    color: #fff;
  }
	.ribbon-right {
    font: bold 15px sans-serif;
    color: #008080;
    text-align: center;
    position: relative;
    padding: 7px 0;
    top: 10px;
    left: -4px;
    width: 150px;
    background-color: #008080;
    color: #fff;
  }
}

.paper{
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 15px 20px;
    background-color: #f3cc0c;
    -webkit-transition: 0.25s ease-in-out all;
    -moz-transition: 0.15s ease-in-out all;
    -o-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}
.paper:hover {
    -moz-border-radius: 0 0 20px 0;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
}
.paper:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 30;
    -moz-box-shadow: -5px 2px 5px rgba( 0, 0, 0, 0.3 );
    -webkit-box-shadow: -5px 2px 5px rgba( 0, 0, 0, 0.3 );
    box-shadow: -5px 2px 5px rgba( 0, 0, 0, 0.3 );
    -webkit-transition: 0.25s ease-in-out all;
    -moz-transition: 0.15s ease-in-out all;
    -o-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}
.paper:hover:after{
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(-10deg) translate3d( 0, 0, 0 );
    -moz-transform: rotate(-10deg) translate3d( 0, 0, 0 );
    -o-transform: rotate(-10deg) translate3d( 0, 0, 0 );
    transform: rotate(-10deg) translate3d( 0, 0, 0 );
}
#fpc_effect-back {
	background-color: #008080; /* some background color to match corner inside's */
	width: 100%;/* trivial */
	font: 12pt arial,sans-serif,helvetica,verdana;/* trivial */ 
	color: #666;//trivial
}
#fpc_effect-back * {
	box-sizing: border-box;
}
#fpc_box {
	/*width: 500px;any relative or absolute*/
	position: relative;
	background-color: #FFF;
}
#fpc_content {
	padding: 20px;
}
#fpc_content:before {
	content:"";
	/*width: 80px;*/
	/*height: 80px;*/
	float: right;
}
#fpc_page-tip:before, #fpc_page-tip:after {
	background-color: #FFF;
	position: absolute;
	display: block;
	z-index: 2;
	border-top-right-radius: 60%;
	width: 50%;
	height: 50%;
	content: "";
}
#fpc_page-tip:before {
	right: 100%;
	top: 0%;
	background: -webkit-radial-gradient(-180% 200%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.1) 93%);
}
#fpc_box:hover #fpc_page-tip:before {
	border-right: solid 1px #fff;
}
#fpc_box div#fpc_corner-box:hover #fpc_page-tip:before {
	border-right: solid 2px #fff;
}
#fpc_page-tip:after {
	top: 100%;
	right: 0%;
	background: -webkit-radial-gradient(-250% 320%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.10) 93%);
}
#fpc_box:hover #fpc_page-tip:after {
	border-top: solid 1px #fff;
}
#fpc_box div#fpc_corner-box:hover #fpc_page-tip:after {
	border-top: solid 2px #fff;
}
#fpc_corner-box {  /* edit these sizes for the default revealing corner size */
	height: 20px;
	width: 20px;
	right: 0;
	top: 0;
	position: absolute;
	overflow: visible;
}
#fpc_box:hover #fpc_corner-box { /* edit corner size (First animation, when the whole page is rollovered) */
	height: 50px;
	width: 50px;
}
#fpc_box div#fpc_corner-box:hover { /* edit corner size (Second animation, when the corner itself is rollovered) */
	height: 100px;
	width: 100px;
}
#fpc_corner-box:before {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	width: 133%;
	height: 133%;
}
#fpc_corner-contents:after {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	background:  -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 37%, #DDD 62%, rgba(230, 230, 230, 0.1) 64%, rgba(255, 255, 255, 0) 67%), -webkit-radial-gradient(-50% 150%, circle, transparent 74%, rgba(0, 0, 0, 0.2) 74%, transparent 81%);
	display: block;
	width: 133%;
	height: 133%;
}
#fpc_page-tip {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	background: -webkit-linear-gradient(45deg, #ddd 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eee 39%, rgba(200,200,200,0) 41%);
	display: block;
	width: 100%;
	height: 100%;
}
#fpc_corner-button {
	-webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
	position: absolute;
	width: 7em;
	top: 0;
	right: 0;
	background-color: #008080;
	/*background-color: red;*/
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	padding: 8px 5px;
	border-radius: 5px;
	display: inline-block;
	font-size: 11px;
}
#fpc_corner-contents {
	width: 125%;
	position: absolute;
	display: block;
	overflow: hidden;
	-webkit-mask: -webkit-linear-gradient(45deg, transparent 49%, #000 53%);
	top: 0;
	right: 0;
	height: 125%;
}
#fpc_corner-contents:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #008080; /* Match this background color to #fpc_effect-back */
}
#fpc_corner-box, #fpc_corner-contents, #fpc_page-tip {
	-webkit-transition-property: all;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.7);
}
#fpc_corner-button strong {
	font-size: 13px;
	font-weight: bold;
	display: block;
}
.animasiku {
  -webkit-animation-duration: 1s;
  /*-webkit-animation-delay: 3s;*/
  /*animation-delay: 2s;*/
  animation-duration: 1s infinite linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animasi {
  -webkit-animation-duration: 1s;
  /*-webkit-animation-delay: 3s;*/
  /*animation-delay: 2s;*/
  animation-duration: 1s infinite linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animasi:hover {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: #080800;
}


@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
.banner {
	color: white;
	position: absolute;
	z-index: 1;
	right: 0;
	margin-right: 5.5%;
	margin-top: 5%;
	width: 80%;
	font-size:22px;
}
.bannerleft {
	color: white;
	position: absolute;
	z-index: 1;
	left: 0;
	margin-left: 5.5%;
	margin-top: 35%;
	width: 80%;
	font-size:22px;
}
@media screen and (max-width: 1118px) {
	.tulisanbanner4 {
		font-size: 20px
	}
}
@media screen and (max-width: 1092px) {
	.tulisanbanner1 {
		font-size: 40px
	}
}
@media screen and (max-width: 991px) {
	.kotakfitur {
		height: 200px
	}
	.header_atas {
		margin-top: 0px
	}
	#logoandroid_panjang {
		margin-left: 130px
	}
}
@media screen and (max-width: 1000px) {
	.banner {
		color: white;
		position: absolute;
		z-index: 1;
		right: 0;
		margin-right: 5.5%;
		margin-top: 5%;
		width: 80%;
		font-size:18px;
	}
	.bannerleft {
		color: white;
		position: absolute;
		z-index: 1;
		left: 0;
		margin-left: 5.5%;
		margin-top: 35%;
		width: 80%;
		font-size:18px;
	}
}
@media screen and (max-width: 640px) {
	.banner {
		color: white;
		position: absolute;
		z-index: 1;
		right: 0;
		margin-right: 5.5%;
		margin-top: 13%;
		width: 44%;
		font-size: 10px
	}
	.bannerleft {
		color: white;
		position: absolute;
		z-index: 1;
		left: 0;
		margin-left: 5.5%;
		margin-top: 20%;
		width: 35%;
		font-size: 10px
	}
}
body {
	background-color: white;
}
.g-signin2 {
	background-color: red
}
@keyframes changeback {
	0% {
		background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/Banner-Header-Tutor_Full.png');
		width: 130%;
		height: 481px;
		background-repeat: no-repeat
	}
	15% {
		background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/Banner-Header-Tutor_Full.png');
		width: 130%;
		height: 481px;
		background-repeat: no-repeat
	}
	30% {
		background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>banner/banner_atas_full.png');
		width: 130%;
		height: 481px;
		background-repeat: no-repeat
	}
	50% {
		background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>banner/banner_atas_full.png');
		height: 481px;
		background-repeat: no-repeat
	}
	80% {
		background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/Banner-Header-Tutor_Full.png');
		width: 130%;
		height: 481px;
		background-repeat: no-repeat
	}
	90% {
		background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/SMA_Web.png');
		width: 130%;
		height: 481px;
		background-repeat: no-repeat
	}
	100% {
		background: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/Banner-Header-Tutor_Full.png');
		width: 130%;
		height: 481px;
		background-repeat: no-repeat
	}
}
.change_back {
	margin-left: -90px;
	position: relative;
	width: 130%;
	height: 481px;
	padding: 0;
	z-index: 0;
	background-repeat: no-repeat;
	animation: changeback 6s infinite ease-in-out
}
.slidee {
	z-index: 1;
	position: absolute;
	/*width: 100%;*/
	top: 0;
	/*margin-left: -7%;*/
	/*left: 0;*/
	/*height: 100%;*/
	transition: opacity 1s ease-in-out;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	/*opacity: 100*/
}
.mslidee {
	z-index: 1;
	position: absolute;
	/*width: 100%;*/
	top: 0;
	margin-left: -11%;
	/*left: 0;*/
	/*height: 100%;*/
	transition: opacity 1s ease-in-out;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	/*opacity: 0*/
}
.text_judul {
	z-index: 1;
	position: absolute;
	/*width: 100%;*/
	top: 0;
	/*margin-left: -11%;*/
	/*left: 0;*/
	/*height: 100%;*/
	transition: opacity 1s ease-in-out;
	/*background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;*/
	/*opacity: 0*/
}
.show {
	opacity: 1
}
#slide1 {
	width: 100%;
	height: 100%;
	background-image: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/SMAUtuh.png')
}
#slide2 {
	width: 100%;
	height: 100%;
	background-image: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>banner/banner_atas_full.png')
}
#slide3 {
	width: 100%;
	height: 100%;
	background-image: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>baru/Banner-Header-Tutor_Full.png')
}

@media screen and (max-width: 1366px) {
	#kotak2aaa {
		margin-top: 0%
	}
	#comingsoon_img {
		margin-left: 80%;
		margin-top: -8%;
		width: 15%;
		height: auto;
		z-index: -3
	}
	#title_aplikasi_android {
		margin-top: 5%;
		margin-left: 600px
	}
	#img_android {
		width: 13%
	}
}
@media screen and (min-width: 1400px) {
	#kotak2aaa {
		margin-top: 0%
	}
	#comingsoon_img {
		margin-left: 80%;
		margin-top: -8%;
		width: 15%;
		height: auto;
		z-index: -3
	}
	#title_aplikasi_android {
		margin-top: 5%;
		margin-left: 600px
	}
	#img_android {
		width: 13%
	}
}
@media screen and (max-width: 1024px) {
	#kotak2aaa {
		margin-top: -90px
	}
	#comingsoon_img {
		margin-left: 80%;
		margin-top: -10%;
		width: 10%;
		height: auto;
		z-index: -3
	}
	#title_aplikasi_android {
		margin-top: 1%;
		margin-left: 600px
	}
	#img_android {
		width: 9%
	}
}
#namafitur {
	font-size: 1.7em;
	color: #333
}
#kotakkananheader {
	position: relative;
	padding-left: 3%;
	padding-right: 3%
}
@media screen and (min-width: 991px) {
	#kotak2nih {
		display: inline;
		margin-top: 20px;
		height: 480px;
		margin-left: -2px;
		background-image: url('<?php echo CDN_URL.STATIC_IMAGE_CDN_URL;?>banner/Header_kanan.png')
	}
}
@media screen and (max-width: 1200px) {
	#namafitur {
		font-size: 1.5em;
		color: #333;
		margin-top: 12%
	}
@media screen and (max-width: 991px) {
	#title_aplikasi {
		display: none
	}
	#title_aplikasi_android {
		display: none
	}
	#aplikasi_bawah {
		display: inline
	}
	#android_bawah {
		display: inline
	}
	#kotakdepan {
		margin-left: 90px
	}
	#namafitur {
		text-align: center;
		font-size: 1.3em;
		color: #333;
		margin-top: 12%
	}
	#kotak2aaa {}#kotakkananheader {
		font-size: 20px;
		position: relative;
		padding-left: 5%;
		margin-top: 2%;
		padding-right: 5%
	}
	#kotak2nih {
		background-image: none
	}
}
@media screen and (max-width: 770px) {
	#logo_android {
		margin-top: -9.5%;
		margin-right: 100px;
		padding: 0
	}
}
@media screen and (max-width: 700px) {
	#kotak2nih {
		margin: 0;
		margin-bottom: 14%;
		height: 500px;
		padding: 0;
		margin-left: -0.1%;
		margin-top: -12.5%
	}
	#namafitur {
		font-size: 1.2em;
		color: #333;
		margin-top: 14%
	}
	#kotak2aaa {
		margin-top: -6em
	}
	#kotakkananheader {
		display: hidden;
		position: relative;
		padding-left: 5%;
		margin-top: 4%;
		padding-right: 5%
	}
}
@media screen and (max-width: 562px) {
	#logo_android {
		margin-top: -15.5%;
		margin-right: 100px;
		padding: 0
	}
}
@media screen and (max-width: 384px) {
	#logo_android {
		margin-top: -30.5%;
		margin-right: 100px;
		padding: 0
	}
}
@media screen and (max-width: 990px) {
	#nav2 {
		display: none
	}
	#nav3 {
		display: inline
	}
}
@media screen and (max-width: 440px) {
	#bendera {
		display: none
	}
}
#banner_depan {
	margin-left: -8%;
	position: relative;
	width: 116.5%;
	height: 481px;
	z-index: 0;
	background-repeat: no-repeat
}
@media screen and (max-width: 780px) {
	#modaldialog_forgot {
		width: 95%
	}
}
::-webkit-scrollbar {
	width: 5px
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 7px;
	border-radius: 7px
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background: #a6a5a5;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.4)
}
@media screen and (max-width: 1250px) {
	#modaldialog_forgot {
		width: 35%
	}
}
#modaldialog_forgot {
	width: 28%
}
@media screen and (max-width: 1250px) {
	#modaldialog_forgot {
		width: 35%
	}
}
@media screen and (max-width: 950px) {
	#modaldialog_forgot {
		width: 40%
	}
}
@media screen and (max-width: 780px) {
	#modaldialog_forgot {
		width: 95%
	}
}	